.callToActionBGWrap {
  background-image: -webkit-image-set(
    url('../../../../assets/images/mainPageBackground.png') 1x,
    url('../../../../assets/images/mainPageBackgroundRetina.png') 2x
  );
  background-image: image-set(
    url('../../../../assets/images/mainPageBackground.png') 1x,
    url('../../../../assets/images/mainPageBackgroundRetina.png') 2x
  );
  background-size: cover;
  background-position: 65%;

  .callToAction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    min-height: 100vh;
    padding-top: 120px;
    padding-bottom: 120px;

    .mainTitle {
      margin: 0 0 20px;

      font-size: 45px;
      font-weight: 500;
      line-height: 58px;

      .firmNameInMainTitle {
        color: #618135;
      }
    }

    .slogan {
      width: 45%;
      margin: 0;

      font-size: 22px;
      line-height: 28px;
      color: #717070;
    }

    .mainToCourseLink {
      max-width: 233px;
      margin-left: 0;
      background: transparent;
    }
    .mainToCourseLink:hover {
      background-color: #618135;
    }
  }

  @media (max-width: 768px) {
    background-image: image-set(
      url('../../../../assets/images/CAT-mobile-background.png') 1x,
      url('../../../../assets/images/CAT-mobile-background-retina.png') 2x
    );
    background-size: cover;
    background-position: bottom;
    .callToAction {
      justify-content: flex-start;

      height: 110vh;
      padding-top: 150px;
      padding-bottom: 25px;

      .mainTitle {
        width: 100%;

        font-size: 30px;
        font-weight: 600;
        line-height: 38px;
        text-align: center;

        .firmNameInMainTitle {
          display: block;
        }
      }

      .slogan {
        width: 100%;

        text-align: center;
      }

      .mainToCourseLink {
        margin: 20px auto 0;

        color: #fff;

        background: #618135;
      }
    }
  }
}

.callToActionBGWrap.yellowTheme {
  background-image: -webkit-image-set(
    url('../../../../assets/images/yellowthemeBG.jpg') 1x,
    url('../../../../assets/images/YellowthemeBGretina.jpg') 2x
  );
  background-image: image-set(
    url('../../../../assets/images/yellowthemeBG.jpg') 1x,
    url('../../../../assets/images/YellowthemeBGretina.jpg') 2x
  );

  .mainTitle {
    color: yellow;
    .firmNameInMainTitle {
      color: aqua;
    }
  }

  .slogan {
    color: yellow;
  }

  .mainToCourseLink {
    color: aqua;
    background: #000;
    border: 1px solid aqua;

    transition: all 0.2s ease;

    &:hover,
    &:focus {
      color: #000!important;

      background: aqua;

      transition: all 0.2s ease;
    }
  }

  @media (max-width: 900px) {
    background: #000;
  }
}

.callToActionBGWrap.whiteTheme {
  background-image: -webkit-image-set(
    url('../../../../assets/images/whitethemeBG.jpg') 1x,
    url('../../../../assets/images/whitethemeBGretina.jpg') 2x
  );
  background-image: image-set(
    url('../../../../assets/images/whitethemeBG.jpg') 1x,
    url('../../../../assets/images/whitethemeBGretina.jpg') 2x
  );

  .mainTitle {
    .firmNameInMainTitle {
      color: #000;
    }
  }

  .slogan {
    color: #000;
  }

  .mainToCourseLink {
    color: #000;
    background: #fff;
    border: 1px solid #000;

    transition: all 0.2s ease;

    &:hover,
    &:focus {
      color: #fff;

      background: #000;

      transition: all 0.2s ease;
    }
  }

  @media (max-width: 900px) {
    background: #fff;
  }
}

.callToActionBGWrap.blueTheme {
  background-image: -webkit-image-set(
    url('../../../../assets/images/mainBGbluetheme.jpg') 1x,
    url('../../../../assets/images/mainBGbluethemeRetina.jpg') 2x
  );
  background-image: image-set(
    url('../../../../assets/images/mainBGbluetheme.jpg') 1x,
    url('../../../../assets/images/mainBGbluethemeRetina.jpg') 2x
  );

  .mainTitle {
    color: #273a64;
    .firmNameInMainTitle {
      color: #273a64;
    }
  }

  .slogan {
    color: #273a64;
  }

  .mainToCourseLink {
    color: #273a64;
    background: #b8eefb;
    border: 1px solid #273a64;

    transition: all 0.2s ease;

    &:hover,
    &:focus {
      color: #fff;

      background: #273a64;

      transition: all 0.2s ease;
    }
  }

  @media (max-width: 900px) {
    background: #b8eefb;
  }
}


.callToActionBGWrap.withoutImg {
  background: none;
}

.medium {
  .mainTitle {
    font-size: 47px !important;

    transition: all 0.2s ease;
  }

  .slogan {
    font-size: 24px !important;

    transition: all 0.2s ease;
  }

  .mainToCourseLink {
    font-size: 23px !important;

    transition: all 0.2s ease;
  }
}

.large {
  .mainTitle {
    font-size: 50px !important;

    transition: all 0.2s ease;
  }

  .slogan {
    font-size: 27px !important;

    transition: all 0.2s ease;
  }

  .mainToCourseLink {
    font-size: 24px !important;

    transition: all 0.2s ease;
  }
}
