.callToActionBGWrap {
  background-image: -webkit-image-set(
    url('../../../../assets/images/mainPageBackground.png') 1x,
    url('../../../../assets/images/mainPageBackgroundRetina.png') 2x
  );
  background-image: image-set(
    url('../../../../assets/images/mainPageBackground.png') 1x,
    url('../../../../assets/images/mainPageBackgroundRetina.png') 2x
  );
  background-size: cover;

  .callToAction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    min-height: 100vh;
    padding-top: 120px;
    padding-bottom: 120px;

    .mainTitle {
      margin: 0 0 20px;

      font-size: 45px;
      font-weight: 500;
      line-height: 58px;

      .firmNameInMainTitle {
        color: #618135;
      }
    }

    .slogan {
      width: 45%;
      margin: 0;

      font-size: 22px;
      line-height: 28px;
      color: #717070;
    }

    .mainToCourseLink {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 64px;
      margin-top: 45px;
      padding: 0 65px;

      font-size: 18px;
      font-weight: 600;
      line-height: 23px;
      color: #618135;
      text-decoration: none;

      border: 2px solid #618135;
      border-radius: 50px;

      transition: all 0.2s ease;

      &:hover,
      &:focus {
        color: #fff;

        background: #618135;

        transition: all 0.2s ease;
      }
    }
  }

  @media (max-width: 768px) {
    background: linear-gradient(
        145deg,
        #f7f5ec,
        #f7f5ec calc(60% - 10px),
        transparent calc(50% - 10px)
      ),
      url('../../../../assets/images/webp/mainbgmobile.webp') 70% bottom no-repeat;
    background-size: contain;
    .callToAction {
      justify-content: flex-start;

      height: calc(60vh - 10px);
      padding-top: 150px;
      padding-bottom: 25px;

      .mainTitle {
        width: 100%;

        font-size: 30px;
        font-weight: 600;
        line-height: 38px;
        text-align: center;

        .firmNameInMainTitle {
          display: block;
        }
      }

      .slogan {
        width: 100%;

        text-align: center;
      }

      .mainToCourseLink {
        margin: 20px auto 0;

        color: #fff;

        background: #618135;
      }
    }
  }
}

.callToActionBGWrap.yellowTheme {
  background: linear-gradient(90deg, #000, #000 40%, transparent 80%),
    url('../../../../assets/images/webp/preload.webp') 70% center no-repeat;
  background-size: cover;

  .mainTitle {
    .firmNameInMainTitle {
      color: aqua;
    }
  }

  .slogan {
    color: yellow;
  }

  .mainToCourseLink {
    color: aqua;

    border: 1px solid aqua;

    transition: all 0.2s ease;

    &:hover,
    &:focus {
      color: #000;

      background: aqua;

      transition: all 0.2s ease;
    }
  }

  .title,
  .featureTitle,
  .featureDesc,
  .firstCTA,
  .secondCTA {
    color: yellow;

    -webkit-text-fill-color: yellow;
  }

  .item:nth-child(1):before {
    background: url('../../../../assets/images/coronavirus.svg') no-repeat center, #191901;
    background-size: 75%;
  }

  .item:nth-child(2):before {
    background: url('../../../../assets/images/key.svg') no-repeat center, #191901;
    background-size: 65%;
  }

  .item:nth-child(3):before {
    background: url('../../../../assets/images/pillow.svg') no-repeat center, #191901;
    background-size: 60%;
  }

  .item:nth-child(4):before {
    background: url('../../../../assets/images/aim.svg') no-repeat center, #191901;
    background-size: 60%;
  }

  .donateLink {
    color: #000;

    background: yellow;

    &:hover,
    &:focus {
      opacity: 1;
      background: aqua;
    }
  }

  @media (max-width: 900px) {
    background: #000;
  }
}

.callToActionBGWrap.whiteTheme {
  background: linear-gradient(90deg, #fff, #fff 40%, transparent 80%),
    url('../../../../assets/images/webp/preload.webp') 70% center no-repeat;
  background-size: cover;

  .mainTitle {
    .firmNameInMainTitle {
      color: #000;
    }
  }

  .slogan {
    color: #000;
  }

  .mainToCourseLink {
    color: #000;

    border: 1px solid #000;

    transition: all 0.2s ease;

    &:hover,
    &:focus {
      color: #fff;

      background: #000;

      transition: all 0.2s ease;
    }
  }

  .title,
  .featureTitle,
  .featureDesc,
  .firstCTA,
  .secondCTA {
    color: #000;

    -webkit-text-fill-color: #000;
  }

  .item:nth-child(1):before {
    background: url('../../../../assets/images/coronavirus.svg') no-repeat center, #000;
    background-size: 75%;
  }

  .item:nth-child(2):before {
    background: url('../../../../assets/images/key.svg') no-repeat center, #000;
    background-size: 65%;
  }

  .item:nth-child(3):before {
    background: url('../../../../assets/images/pillow.svg') no-repeat center, #000;
    background-size: 60%;
  }

  .item:nth-child(4):before {
    background: url('../../../../assets/images/aim.svg') no-repeat center, #000;
    background-size: 60%;
  }

  .donateLink {
    color: #fff;

    background: #000;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  @media (max-width: 900px) {
    background: #fff;
  }
}

.callToActionBGWrap.blueTheme {
  background: linear-gradient(90deg, #b8eefb, #b8eefb 40%, transparent 80%),
    url('../../../../assets/images/webp/preload.webp') 70% center no-repeat;
  background-size: cover;

  .mainTitle {
    .firmNameInMainTitle {
      color: #273a64;
    }
  }

  .slogan {
    color: #273a64;
  }

  .mainToCourseLink {
    color: #273a64;

    border: 1px solid #273a64;

    transition: all 0.2s ease;

    &:hover,
    &:focus {
      color: #fff;

      background: #273a64;

      transition: all 0.2s ease;
    }
  }

  .title,
  .featureTitle,
  .featureDesc,
  .firstCTA,
  .secondCTA {
    color: #273a64;

    -webkit-text-fill-color: #273a64;
  }

  .item:nth-child(1):before {
    background: url('../../../../assets/images/coronavirus.svg') no-repeat center, #273a64;
    background-size: 75%;
  }

  .item:nth-child(2):before {
    background: url('../../../../assets/images/key.svg') no-repeat center, #273a64;
    background-size: 65%;
  }

  .item:nth-child(3):before {
    background: url('../../../../assets/images/pillow.svg') no-repeat center, #273a64;
    background-size: 60%;
  }

  .item:nth-child(4):before {
    background: url('../../../../assets/images/aim.svg') no-repeat center, #273a64;
    background-size: 60%;
  }

  .donateLink {
    color: #fff;

    background: #273a64;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  @media (max-width: 900px) {
    background: #b8eefb;
  }
}

.title {
  margin-top: 0;

  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  color: rgb(31, 123, 118);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0;

  background: linear-gradient(to bottom, rgba(117, 180, 130, 1) 0%, rgba(31, 123, 118, 1) 100%);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

  @media (max-width: 1000px) {
    & {
      font-size: 42px;
      line-height: 50px;
    }
  }

  @media (max-width: 768px) {
    & {
      font-size: 29px;
      line-height: 30px;
    }
  }

  @media (max-width: 425px) {
    & {
      font-size: 20px;
    }
  }
}

.positionWrap {
  width: 45%;
  padding: 50px 0;

  @media (max-width: 1000px) {
    width: 60%;
  }

  @media (max-width: 900px) {
    width: 100%;
    padding: 0;
  }
}

.callToActionWrap {
  padding: 50px 0 0;
}

.firstCTA {
  margin: 0 0 20px;

  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  color: #618135;
  text-transform: uppercase;
  letter-spacing: 0;

  strong {
    color: #3b7c76;
  }

  @media (max-width: 1000px) {
    & {
      font-size: 42px;
      line-height: 50px;
    }
  }

  @media (max-width: 768px) {
    & {
      font-size: 29px;
      line-height: 30px;
    }
  }

  @media (max-width: 768px) {
    & {
      font-size: 20px;
    }
  }
}

.secondCTA {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 25px;
  font-weight: 500;
  color: #666666;

  @media (max-width: 768px) {
    & {
      font-size: 20px;
    }
  }
}

.featureTitle {
  margin-bottom: 5px;

  font-size: 25px;
  font-weight: 500;
  line-height: 38px;
  color: rgb(117, 180, 130);

  @media (max-width: 768px) {
    & {
      font-size: 23px;
    }
  }

  @media (max-width: 425px) {
    & {
      font-size: 18px;
    }
  }
}

.featureDesc {
  margin: 0;
  padding-left: 3px;

  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000;

  @media (max-width: 768px) {
    & {
      font-size: 16px;
    }
  }

  @media (max-width: 425px) {
    & {
      font-size: 14px;
    }
  }
}

.item {
  position: relative;

  padding-left: 80px;
}

.item:before {
  content: '';

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: block;

  box-sizing: border-box;
  width: 65px;
  height: 65px;
  padding: 10px;
}

.item:nth-child(1):before {
  background: url('../../../../assets/images/coronavirus.svg') no-repeat center, rgb(31, 123, 118);
  background-size: 75%;
}

.item:nth-child(2):before {
  background: url('../../../../assets/images/key.svg') no-repeat center, rgb(31, 123, 118);
  background-size: 65%;
}

.item:nth-child(3):before {
  background: url('../../../../assets/images/pillow.svg') no-repeat center, rgb(31, 123, 118);
  background-size: 60%;
}

.item:nth-child(4):before {
  background: url('../../../../assets/images/aim.svg') no-repeat center, rgb(31, 123, 118);
  background-size: 60%;
}

.donateLink {
  cursor: pointer;

  display: block;

  width: fit-content;
  margin: 50px auto 0;
  padding: 20px 40px 18px;

  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background: #fd6ca3;
  border-radius: 0 15px;

  transition: all 0.2s linear;
  -webkit-animation: heartbeat 2s ease-in-out infinite both;
  animation: heartbeat 2s ease-in-out infinite both;
}

.donateLink:hover,
.donateLink:focus {
  opacity: 0.7;

  transition: all 0.2s linear;
}

@keyframes heartbeat {
  from {
    border-radius: 0 15px;

    animation-timing-function: ease-in;
  }
  50% {
    border-radius: 15px 0;

    animation-timing-function: ease-in;
  }
  100% {
    border-radius: 0 15px;

    animation-timing-function: ease-in;
  }
}

.callToActionBGWrap.withoutImg {
  background: none;
}

.medium {
  .mainTitle {
    font-size: 47px !important;

    transition: all 0.2s ease;
  }

  .slogan {
    font-size: 24px !important;

    transition: all 0.2s ease;
  }

  .mainToCourseLink {
    font-size: 20px !important;

    transition: all 0.2s ease;
  }

  .title,
  .firstCTA {
    font-size: 40px;

    @media (max-width: 768px) {
      font-size: 31px;
    }

    @media (max-width: 425px) {
      font-size: 27px;
    }
  }

  .featureTitle,
  .secondCTA {
    font-size: 30px;

    @media (max-width: 768px) {
      font-size: 22px;
    }

    @media (max-width: 425px) {
      font-size: 20px;
    }
  }

  .featureDesc {
    font-size: 22px;

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 425px) {
      font-size: 16px;
    }
  }

  .donateLink {
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
}

.large {
  .mainTitle {
    font-size: 50px !important;

    transition: all 0.2s ease;
  }

  .slogan {
    font-size: 27px !important;

    transition: all 0.2s ease;
  }

  .mainToCourseLink {
    font-size: 22px !important;

    transition: all 0.2s ease;
  }

  .title,
  .firstCTA {
    font-size: 42px;
    line-height: 40px;

    @media (max-width: 768px) {
      font-size: 31px;
    }

    @media (max-width: 425px) {
      font-size: 27px;
    }
  }

  .featureTitle,
  .secondCTA {
    font-size: 32px;
    line-height: 30px;

    @media (max-width: 768px) {
      font-size: 31px;
    }

    @media (max-width: 425px) {
      font-size: 27px;
    }
  }

  .featureDesc {
    font-size: 22px;
    line-height: 25px;

    @media (max-width: 768px) {
      font-size: 20px;
    }

    @media (max-width: 425px) {
      font-size: 18px;
    }
  }

  .donateLink {
    font-size: 19px;
    line-height: 20px;

    @media (max-width: 768px) {
      font-size: 17px;
    }

    @media (max-width: 425px) {
      font-size: 15px;
    }
  }
}
