@media (min-width: 769px) {
  .callToAction {
    .blindButton {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .callToAction {
    .blindButton {
      margin-top: auto;

      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      svg {
        margin-right: 10px;
      }
    }
  }
}
