.computerLight {
  animation: flicker-4 4s linear infinite both;
}

.momOfBrows {
  animation: momOfBrows 5s linear infinite both;
}

@keyframes momOfBrows {
  0%,
  100% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-7px);
  }
  85% {
    transform: translateY(-7px);
  }
}

@keyframes flicker-4 {
  0%,
  100% {
    opacity: 0.5;
  }
  31.98% {
    opacity: 0.5;
  }
  32% {
    opacity: 0;
  }
  32.8% {
    opacity: 0;
  }
  32.82% {
    opacity: 0.5;
  }
  34.98% {
    opacity: 0.5;
  }
  35% {
    opacity: 0;
  }
  35.7% {
    opacity: 0;
  }
  35.72% {
    opacity: 0.5;
  }
  36.98% {
    opacity: 0.5;
  }
  37% {
    opacity: 0;
  }
  37.6% {
    opacity: 0;
  }
  37.62% {
    opacity: 0.5;
  }
  67.98% {
    opacity: 0.5;
  }
  68% {
    opacity: 0;
  }
  68.4% {
    opacity: 0;
  }
  68.42% {
    opacity: 0.5;
  }
  95.98% {
    opacity: 0.5;
  }
  96% {
    opacity: 0;
  }
  96.7% {
    opacity: 0;
  }
  96.72% {
    opacity: 0.5;
  }
  98.98% {
    opacity: 0.5;
  }
  99% {
    opacity: 0;
  }
  99.6% {
    opacity: 0;
  }
  99.62% {
    opacity: 0.5;
  }
}
