.counterBlock {
  background: #fff;
  background: url('../../../../assets/images/features-bottom.png') top;
  background-size: cover;
}

.counterContainer {
  display: flex;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 45%;
    h3 {
      margin: 0 0 15px;

      font-size: 36px;
      font-weight: 600;
      line-height: 46px;
    }
    p {
      margin: 0 0 35px;

      font-size: 18px;
      font-weight: 400;
    }
    a {
      display: block;

      width: max-content;
      padding: 20px 60px;

      font-size: 18px;
      line-height: 25px;
      color: #fff;
      text-decoration: none;

      background: #618135;
      border: none;
      border-radius: 50px;

      transition: all .2s ease;
      &.yellowTheme {
        color: aqua;

        border: 1px solid aqua;
      }
      &:hover {
        background: #32487d;

        transition: all .2s ease;
      }
    }
  }
}

.counterIcon {
  position: absolute;
  right: 20px;
  bottom: 20px;

  opacity: 0.8;

  fill: #618135;

  transition: all 0.5s ease;
}

.counterItem:hover .counterIcon,
.counterItem:focus .counterIcon {
  transform: scale(0.8) translate(20%, 15%);

  opacity: 1;

  transition: all 0.5s ease;
}

ul.counterWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: auto;
  padding: 180px 25px 125px 65px;
}

.counterItem {
  position: relative;

  width: 47%;
  margin-bottom: 55px;
  padding: 30px 35px 30px;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);
  h4 {
    color: #618135;
  }
}

.counterNumber {
  margin-right: 10px;

  font-size: 40px;
  font-weight: 900;
  color: #2d2d2d;
  letter-spacing: 1px;
  transition: all .2s ease;
}

.description {
  font-size: 20px;
  font-weight: 900;
  color: #2d2d2d;
  letter-spacing: 1px;
}

.counterBlock.yellowTheme {
  color: yellow;

  background: url('../../../../assets/images/yellowthemeBGcounter.png') top;
  background-size: cover;

  .counterIcon {
    fill: aqua;
  }

  h4 {
    color: yellow;
  }

  .counterNumber,
  .description {
    color: yellow;
  }

  .counterItem {
    background: #191901;
    &:before,
    &:after {
      border-color: rgb(0, 255, 255);
      border-right-color: transparent;
      border-bottom-color: transparent;
    }
  }

  a {
    background: #000;

    transition: all .2s ease;
    &:hover {
      color: #000;

      background: aqua;

      transition: all .2s ease;
    }
  }
}

.counterBlock.whiteTheme {
  color: #000;

  background: url('../../../../assets/images/whiteThemeBGCounter.png') top;
  background-size: cover;

  h4 {
    color: #000;
  }

  a {
    background: #000;
    border: 1px solid #000;

    transition: all .2s ease;
    &:hover {
      color: #000;

      background: #fff;

      transition: all .2s ease;
    }
  }

  .counterIcon {
    fill: #000;
  }

  .counterNumber,
  .description {
    color: #000;
  }

  .counterItem:before {
    border-color: #000;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  .counterItem:after {
    border-color: #000;
    border-top-color: transparent;
    border-left-color: transparent;
  }
}

.counterBlock.blueTheme {
  color: #273a64;

  background: url('../../../../assets/images/blueCounterBG.png') top;
  background-size: cover;

  .counterIcon {
    fill: #273a64;
  }

  .counterNumber,
  .description {
    color: #273a64;
  }

  .counterItem {
    background: #fff;
  }

  .counterItem:before {
    border-color: #273a64;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  .counterItem:after {
    border-color: #273a64;
    border-top-color: transparent;
    border-left-color: transparent;
  }

  h4 {
    color: #273a64;
  }

  a {
    background: #273a64;
    border: 1px solid #273a64;

    transition: all .2s ease;
    &:hover {
      color: #273a64;

      background: #fff;

      transition: all .2s ease;
    }
  }
}

.yellowTheme,
.whiteTheme,
.blueTheme {
  * {
    font-weight: bold;
  }
}

.medium {
  .counterContainer {
    .counterNumber,
    .donateLink {
      font-size: 42px;
    }
    .description {
      font-size: 22px;
    }
    .counterItem h4 {
      font-size: 16px;
    }
    h3 {
      font-size: 38px !important;

      transition: all .2s ease;
    }
    p {
      font-size: 20px !important;

      transition: all .2s ease;
    }
    a {
      font-size: 20px;

      transition: all .2s ease;
    }
  }
}

.large {
  .counterContainer {
    .counterNumber,
    .donateLink {
      font-size: 44px;
    }
    .description {
      font-size: 24px;
    }
    .counterItem h4 {
      font-size: 18px;
    }
    h3 {
      font-size: 40px !important;

      transition: all .2s ease;
    }
    p {
      font-size: 22px !important;

      transition: all .2s ease;
    }
    a {
      font-size: 22px;

      transition: all .2s ease;
    }
  }
}

@media (max-width: 1150px) {
  .counterBlock {
    padding-top: 140px;
    background-repeat: no-repeat;
    background-size: contain;
    .counterContainer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > div {
        align-items: center;

        width: 100%;
        p {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  ul.counterWrap {
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 15px auto;
    padding: 50px 0;
  }
  .counterItem {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .counterItem {
    width: 100%;
    margin: 25px 0;
    padding: 20px 25px;
  }
  ul.counterWrap {
    flex-direction: column;
    align-items: center;

    padding: 40px 0;
  }
}

@media (max-width: 400px) {
  .counterBlock {
    .counterContainer > div {
      width: 100%;
      h3 {
        text-align: center;
      }
    }
  }
  .counterItem {
    width: 100%;
    min-width: auto;
    margin: 15px 0;
    svg {
      width: 25%;
    }
  }
  .counterNumber {
    font-size: 25px;
  }
  .counterItem h4 {
    margin-bottom: 0;
  }
}
