.preloaderOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: #ffffffd9;
  .preloader {
    width: 400px;
    height: 100px;
    position: absolute;
    circle {
      stroke: #618135;
      fill: transparent;
    }
    .yellowTheme .preloader {
      circle {
        stroke: aqua;
      }
    }
  }
}
.yellowTheme {
  background-color: black;
  .preloader {
    circle {
      stroke: yellow;
    }
  }
}
.whiteTheme {
  .preloader {
    circle {
      stroke: black;
    }
  }
}

.blueTheme {
  background-color: #b8eefb;
  .preloader {
    circle {
      stroke: #273a64;
    }
  }
}
