.preloaderOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: #ffffffd9;

  .preloader {
    width: 400px;
    height: 100px;
    position: absolute;

    circle {
      stroke: #618135;
      fill: transparent;
    }
  }
}

.yellowTheme {
  background-color: #191901;
  opacity: 0.9;

  .preloader {
    circle {
      stroke: yellow;
    }
  }
}

.whiteTheme {
  background: #000;
  opacity: 0.9;

  .preloader {
    circle {
      stroke: #fff;
    }
  }
}


.blueTheme {
  background-color: #afe2ef;
  opacity: 0.9;

  .preloader {
    circle {
      stroke: #273a64;
    }
  }
}
