.websiteTopicName:not(:first-child) {
  &:before {
    content: '';
    display: block;
    margin-bottom: 15px;
    width: 30px;
    height: 2px;
    background: #618135;
  }
}

.websiteTopicName:first-child {
  margin-top: 0;
}

.websitesList {
  margin-left: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 0 0 0 1.875rem;
  @media (max-width: 1280px) {
    padding: 1.875em 0 0 0;
    width: 90%;
    margin: 0 auto;
  }
  .websitesItem {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-left: 37px;
    svg {
      position: absolute;
      left: 0;
      top: 0;
      margin-right: 12px;
    }
    a {
      color: #717070;
      font-weight: 500;
      text-decoration: none;
      cursor: pointer;
      transition: all .3s ease;
      &:hover {
        color: #618135;
        transition: all .3s ease;
      }
    }
  }
}

.yellowTheme {
  &.websitesItem {
    a {
      color: yellow;
      &:hover {
        color: aqua;
      }
    }
  }
}
.whiteTheme {
  &.websitesItem {
    a:hover {
      color: #000;
    }
  }
}
.blueTheme {
  &.websitesItem {
    a {
      color: black;
      &:hover {
        color: #273a64;
      }
    }
  }
}

.medium {
  font-size: 20px;
}
.large {
  font-size: 22px;
}