.optionsBlock {
  background: #f6f6f6;

  .button {
    cursor: pointer;

    min-width: 30px;
    min-height: 30px;
    margin-right: 10px;

    font-size: 16px;
    font-weight: 600;
    line-height: 0;
    color: #000;

    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;

    &:hover,
    &.active {
      position: relative;

      color: #fff;

      background-color: #000;
    }
  }

  .yellow.active,
  .yellow:hover {
    color: rgb(255, 255, 0);
  }

  @media (max-width: 1000px) {
    .optionsWrap {
      display: flex;
      flex-direction: column;

      .optionLabel {
        display: block;

        margin-top: 30px;
        margin-bottom: 15px;
      }

      .first {
        margin-top: 0;
      }

      .closeBlindOptions {
        display: block;
      }
    }
  }
}

.yellowTheme {
  color: rgb(255, 255, 0);

  background: rgb(25, 25, 1);
  background-size: 50%;
  border-bottom: 1px solid yellow;

  .button {
    color: rgb(255, 255, 0);

    &.active,
    &:hover {
      color: #000;

      background: rgb(0, 255, 255);
    }

    &.yellow {
      color: #000;

      background: rgb(0, 255, 255);
    }

    &.white {
      color: #000;

      background: #ffffff;
    }

    &.blue {
      color: #273a64;

      background: #b8eefb;
    }
  }

  .closeBlindOptions {
    background: aqua;
  }

  @media (max-width: 1000px) {
    background: url('../../../assets/images/glassesyellow.svg') no-repeat 90% 95%, rgb(25, 25, 1);
    background-size: 50%;
  }
}

.whiteTheme {
  color: #000;

  background: #f5f5f5;
  border-bottom: 1px solid black;

  .button {
    color: #000;

    &.yellow {
      color: rgb(255, 255, 0);

      background: #000;
    }

    &.white {
      color: #fff;

      background: #000;
    }

    &.blue {
      color: #273a64;

      background: #b8eefb;
    }
  }

  .closeBlindOptions {
    background: #000;

    svg {
      fill: #fff;
    }
  }

  @media (max-width: 1000px) {
    background: url('../../../assets/images/glasseswhite.svg') no-repeat 90% 95%, #f5f5f5;
    background-size: 50%;
  }
}

.blueTheme {
  color: #273a64;

  background: #fff;
  border-bottom: 1px solid #273a64;

  .button {
    color: #273a64;

    &.active,
    &:hover {
      color: #fff;

      background: #273a64;
    }

    &.yellow {
      color: rgb(255, 255, 0);

      background: #000;
    }

    &.white {
      color: #000;

      background: #fff;
    }

    &.blue {
      color: #fff;

      background: #273a64;
    }
  }

  @media (max-width: 1000px) {
    background: url('../../../assets/images/glasseswhite.svg') no-repeat 90% 95%, #afe2ef;
    background-size: 50%;
  }
}

.optionsWrap {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding-top: 25px;
  padding-bottom: 25px;

  .imagesSwitcher {
    min-width: 80px;
  }
}

.optionLabel {
  margin: 0 0.625rem 0 0;

  font-size: 18px;
  font-weight: 500;
  line-height: 21px;

  transition: all 0.3s ease;
}

.pics {
  transition: all 0.2s linear;
}

.optionsBlock .button.small {
  font-size: 16px !important;
}

.optionsBlock .button.medium {
  min-width: 33px;

  font-size: 20px !important;
  line-height: 33px;
}

.optionsBlock .button.large {
  min-width: 35px;

  font-size: 24px !important;
  line-height: 35px;
}

.white {
  color: #000;

  background: #fff;
  border: 3px solid #000;
}

.white:hover,
.white.active {
  color: #000;

  background: #fff;
}

.blue:hover,
.blue.active {
  color: #273a64;

  background: #b8eefb;
}

.blue.active {
  color: #273a64;

  background: #b8eefb;
}

.optionEnter {
  margin-top: -85px;
}

.optionEnterActive {
  margin-top: 0;

  transition: all 200ms, transform 200ms;
}

.optionExitActive {
  margin-top: -85px;

  transition: all 200ms, transform 200ms;
}

.optionsBlock.medium {
  .button,
  .optionLabel {
    font-size: 20px;
  }
}

.optionsBlock.large {
  .button,
  .optionLabel {
    font-size: 22px;
  }
}
