.chapterItem {
  position: relative;

  display: block;

  margin-bottom: 1rem;
  padding-left: 20px;
  a {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #717070;
    text-decoration: none;

    transition: all 0.2s ease;
    &:hover {
      font-size: 18px;
      font-weight: 600;
      line-height: 23px;
      color: #618135;

      transition: all 0.2s ease;
    }
  }
}

.chapterItem::before {
  content: '';

  position: absolute;
  top: 12px;
  left: 0.125rem;

  display: block;

  width: 6px;
  height: 6px;
  margin-top: -3px;

  background: #618135;
  border-radius: 100%;
}
