.newsList {
  width: 70%;
  margin-left: 40px;

  list-style: none;
}

.newsItem {
  padding: 10px 15px;

  border-bottom: 1px solid #ededed;
}

h3 {
  transition: all 0.2s linear;
}

.date {
  transition: all 0.2s linear;
}

.medium {
  font-size: 18px;
}

.medium {
  h3 {
    font-size: 23px;
  }
}

.large {
  font-size: 21px;
}

.large {
  h3 {
    font-size: 26px;
  }
}