.newsList {
  width: 70%;
  margin-left: 40px;

  list-style: none;
}

.newsItem {
  padding: 10px 15px;

  border-bottom: 1px solid #ededed;
}

h3 {
  transition: all .2s ease;
}

.date {
  transition: all .2s ease;
}

p {
  transition: all .2s ease;
}

.medium {
  .date {
    font-size: 16px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 20px;
    line-height: 25px;
  }
}

.large {
  .date {
    font-size: 18px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 22px;
    line-height: 27px;
  }
}