div.aboutUsBody {
  display: flex;
  flex-wrap: wrap;
  padding-top: 210px;
  padding-bottom: 165px;

  h2 {
    width: 100%;
    margin: 40px 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #000000;
    transition: all .2s linear;
  }
}

.aboutUsSection {
  padding-top: 0;
  transition: all .3s ease;
}

.yellowTheme {
  background: #000;
  color: yellow;

  .aboutUsBody {
    h2 {
      color: yellow;
    }
  }
}


.whiteTheme {
  background: #fff;
  color: #000;

  .aboutUsBody {
    h2 {
      color: #000;
    }
  }
}

.blueTheme {
  background: #afe2ef;
  color: #273a64;


  .aboutUsBody {
    h2 {
      color: #273a64;
    }
  }
}

.aboutUsSection.blindOptionsOpen {
  padding-top: 3px;
  transition: all .3s ease;
}

@media (max-width: 997px) {
  .aboutUsSection.blindOptionsOpen {
    padding-top: 228px;
  }
}

.medium {
  .aboutUsBody {
    h2 {
      font-size: 41px;
    }
  }
}

.large {
  .aboutUsBody {
    h2 {
      font-size: 50px;
    }
  }
}

//@media(max-width: 1000px) {
//  .yellowTheme,
//  {
//    margin-top: 0px;
//  }
//  .whiteTheme {
//    margin-top: 150px;
//  }
//  .blueTheme {
//    margin-top: 150px;
//  }
//}