h1 {
  width: 100%;
  margin: 40px 0;

  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  color: #000000;

  transition: all 0.2s linear;
}

div.aboutUsBody {
  display: flex;
  padding-bottom: 165px;
}

.aboutUsSection {
  padding-top: 0;

  transition: all 0.2s ease;
}

.yellowTheme {
  color: yellow;

  .aboutUsBody {
    h1 {
      color: yellow;
    }
  }
}

.whiteTheme {
  color: #000;

  .aboutUsBody {
    h1 {
      color: #000;
    }
  }
}

.blueTheme {
  color: #273a64;

  .aboutUsBody {
    h1 {
      color: #273a64;
    }
  }
}

@media (max-width: 1000px) {
  .aboutUsSection.blindOptionsOpen {
    padding-top: 228px;
  }
}

.medium {
  .aboutUsBody {
    h1 {
      font-size: 41px;
    }
  }
}

.large {
  .aboutUsBody {
    h1 {
      font-size: 50px;
    }
  }
}
