div.aboutUsBody {
  display: flex;
  flex-wrap: wrap;

  padding-top: 210px;
  padding-bottom: 165px;

  h2 {
    width: 100%;
    margin: 40px 0;

    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    color: #000000;

    transition: all 0.2s linear;
  }
}

.aboutUsSection {
  padding-top: 0;

  transition: all 0.3s ease;
}

.yellowTheme {
  color: yellow;

  background: #000;

  .aboutUsBody {
    h2 {
      color: yellow;
    }
  }
}

.whiteTheme {
  color: #000;

  background: #fff;

  .aboutUsBody {
    h2 {
      color: #000;
    }
  }
}

.blueTheme {
  color: #273a64;

  background: #afe2ef;

  .aboutUsBody {
    h2 {
      color: #273a64;
    }
  }
}

.aboutUsSection.blindOptionsOpen {
  padding-top: 3px;

  transition: all 0.3s ease;
}

@media (max-width: 997px) {
  .aboutUsSection.blindOptionsOpen {
    padding-top: 228px;
  }
}

.medium {
  .aboutUsBody {
    h2 {
      font-size: 41px;
    }
  }
}

.large {
  .aboutUsBody {
    h2 {
      font-size: 50px;
    }
  }
}
