.profileInfoWrap {
  flex-grow: 1;
  margin-left: 40px;

  .title {
    transition: all 0.3s ease;
    margin-top: 0;
    font-weight: 600;
    font-size: 28px;
    text-transform: capitalize;
    color: #618135;
  }

  .formWrap {
    display: flex;
    justify-content: space-between;
  }
}

.medium {
  .title {
    font-size: 30px;
  }
}

.large {
  .title {
    font-size: 32px;
  }
}

.profileInfoWrap.yellowTheme {
  .title {
    color: #ff0;
  }
}

.profileInfoWrap.whiteTheme {
  .title {
    color: #000;
  }
}

.profileInfoWrap.blueTheme {
  .title {
    color: #273a64;
  }
}
