.movie {
  display: flex;
  justify-content: center;
}

.projectBody {
  width: 70%;
  margin-left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  & > p:first-child {
    margin-top: 0;
  }
}

p {
  transition: all .2s linear;
}

.medium {
  font-size: 20px;
}

.large {
  font-size: 22px;
}

@media (min-width: 985px) and (max-width: 1280px) {
  .projectBody {
    margin-left: 41px;
  }
}

@media (max-width: 1280px) {
  .projectBody {
    margin: 20px auto;
    width: 90%;
  }
}