.movie {
  display: flex;
  justify-content: center;
}

.projectBody {
  flex-grow: 1;
  margin-left: 40px;

  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

  h2.title {
    margin: 0 0 25px 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    text-transform: capitalize;
    color: #618135;
  }

  & > p:first-child {
    margin-top: 0;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  transition: all .2s ease;
}

.projectBody.medium {
  .title {
    font-size: 32px;
  }
  p {
    font-size: 20px;
    line-height: 25px;
  }
}

.projectBody.large {
  .title {
    font-size: 36px;
  }

  p {
    font-size: 22px;
    line-height: 25px;
  }
}

.yellowTheme {
  h2.title {
    color: aqua;
  }
}

.whiteTheme {
  h2.title {
    color: #000;
  }
}

.blueTheme {
  h2.title {
    color: #273a64;
  }
}