.changeEmailForm {
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  label {
    span {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      color: #717070;
    }
  }
}
