.blindButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 64px;
  margin-right: 25px;
  padding: 0 30px;

  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #618135;

  background: #ffffff;
  border: 1px solid #618135;
  border-radius: 50px;
  outline: none;

  transition: all .2s ease;
  svg {
    margin-right: 10px;

    fill: #618135;
  }
}

.blindButton:hover,
.blindButton:focus {
  color: #fff;

  background: #618135;

  transition: all .2s ease;
}

.blindButton svg {
  margin-right: 10px;

  transition: all .2s ease;
}

.blindButton:hover svg,
.blindButton:focus svg {
  fill: #fff;

  transition: all .2s ease;
}

.blindButton.yellowTheme {
  color: yellow;

  background: #000;
  border-color: yellow;
  transition: all .2s ease;
  svg {
    fill: yellow;
  }
  &:hover {
    color: #000;

    background: yellow;
    border-color: #000;
    svg {
      fill: #000;
    }
  }
  @media (max-width: 1000px) {
    background: transparent;
    &:hover {
      background: transparent;
      svg {
        fill: yellow;
      }
    }
  }
}

.blindButton.whiteTheme {
  color: #000;

  background: #fff;
  border-color: #000;
  transition: all .2s ease;
  svg {
    fill: #000;
  }
  &:hover {
    color: #fff;

    background: #000;
    border-color: #fff;
    svg {
      fill: #fff;
    }
  }
  @media (max-width: 1000px) {
    background: transparent;
    &:hover {
      background: transparent;
      svg {
        fill: #000;
      }
    }
  }
}

.blindButton.blueTheme {
  color: #273a64;

  background: #afe2ef;
  border-color: #273a64;
  transition: all .2s ease;
  svg {
    fill: #273a64;
  }
  &:hover {
    color: #fff;

    background: #273a64;
    border-color: #afe2ef;
    svg {
      fill: #fff;
    }
  }
  @media (max-width: 1000px) {
    background: transparent;
    &:hover {
      background: transparent;
      svg {
        fill: #273a64;
      }
    }
  }
}

.blindButton.medium {
  font-size: 22px;

  transition: all .2s ease;
  @media (max-width: 1300px) {
    font-size: 0;
    svg {
      margin: 0;
    }
  }
}

.blindButton.large {
  font-size: 24px;

  transition: all .2s ease;

  @media (max-width: 1300px) {
    font-size: 0;
    svg {
      margin: 0;
    }
  }
}

@media (max-width: 1220px) {
  .blindButton {
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  .blindButton {
    font-size: 0;
    svg {
      margin: 0;
    }
  }
}

@media (max-width: 1000px) {
  .blindButton {
    border: none;
    background: transparent;
    margin: 0;
    &:hover {
      background: transparent;
    }
    svg {
      margin: 0;
      width: 35px;
    }
    &:hover svg,
    &:focus svg {
      fill: #618135;
    }
  }
}
