.whiteTheme {
  .formLabel {
    span {
      color: #fff;
    }
    path,
    line {
      fill: #fff;
      stroke: #fff;
    }
  }
}

.blueTheme {
  .formLabel {
    span {
      color: #273a64;
    }
    path,
    line {
      fill: #afe2ef;
      stroke: #afe2ef;
    }
  }
}

.small {
  .formLabel {
    span {
      font-size: 16px;

      transition: all .2s ease;
    }
  }
}

.medium {
  .formLabel {
    span {
      font-size: 18px;

      transition: all .2s ease;
    }
  }
  .submitBtn {
    font-size: 22px;

    transition: all .2s ease;
  }
}

.large {
  .formLabel {
    span {
      font-size: 20px;

      transition: all .2s ease;
    }
  }
  .submitBtn {
    font-size: 24px;

    transition: all .2s ease;
  }
}

@media (max-width: 1000px) {
  .authHeader {
    .logoText {
      display: block;
    }
  }
}
