.profileInfoForm {
  max-width: 388px;
  span {
    transition: all 0.3s ease;
  }

  .radioWrap {
    display: flex;

    label:first-child {
      margin-right: 50px;
    }
  }

  textarea {
    resize: none;

    width: 388px;
    min-height: 123px;
    padding: 15px;

    font-family: 'Proba', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;

    border: 1px solid #eaeaea;
    border-radius: 4px;
    outline: none;
  }

  .btn {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 388px;
    max-width: 100%;
    height: 64px;
    margin: 30px auto;
    padding: 13px 20px;

    font-size: 20px;
    font-weight: 600;
    color: #ffffff;

    background-color: #618135;
    border: 1px solid #618135;
    border-radius: 50px;
    outline: none;

    transition: all 0.2s linear;

    &:hover {
      color: #618135;

      background-color: #fff;
      border: 1px solid #618135;
    }

    &:disabled {
      opacity: 0.7;
    }
  }
}

@media (max-width: 1200px) {
  .profileInfoForm {
    .fullName {
      position: absolute;
      top: -300px;

      width: 100%;
      margin-bottom: 20px;
    }

    textarea {
      width: 370px;
    }

    .gender {
      margin-top: 65px;
    }
  }
}

@media (min-width: 374px) and (max-width: 500px) {
  .profileInfoForm {
    max-width: 300px;
    .fullName {
      top: -200px;
    }

    textarea {
      width: 280px;
    }

    .gender {
      margin-top: 270px;
    }

    .btn {
      width: 300px;
    }
  }
}

.profileInfoForm.yellowTheme {
  span {
    color: #ff0;
  }

  .btn {
    color: #000;

    background: #ff0;
    border-color: #ff0;

    &:hover {
      color: #ff0;

      background: #000;
      border-color: #ff0;
    }
  }
}

.profileInfoForm.whiteTheme {
  span {
    color: #000;
  }

  .btn {
    color: #fff;

    background: #000;
    border-color: #fff;

    &:hover {
      color: #000;

      background: #fff;
      border-color: #000;
    }
  }
}

.profileInfoForm.blueTheme {
  span {
    color: #273a64;
  }

  .btn {
    color: #fff;

    background: #273a64;
    border-color: #273a64;

    &:hover {
      color: #273a64;

      background: #fff;
      border-color: #273a64;
    }
  }
}

.medium.profileInfoForm {
  span {
    font-size: 18px;
  }

  .btn {
    font-size: 22px;
  }
}

.large.profileInfoForm {
  span {
    font-size: 20px;
  }

  .btn {
    font-size: 24px;
  }
}
