.profileInfoForm {
  span {
    transition: all .2s ease;
  }

  max-width: 388px;

  .radioWrap {
    display: flex;

    label:first-child {
      margin-right: 50px;
    }
  }

  textarea {
    width: 388px;
    min-height: 123px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    resize: none;
    outline: none;
  }

  .btn {
    padding: 13px 20px;
    background-color: #618135;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: all .2s ease;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #618135;
    border-radius: 50px;
    width: 388px;
    max-width: 100%;
    height: 64px;
    font-weight: 600;
    font-size: 20px;

    &:hover {
      background-color: #fff;
      border: 1px solid #618135;
      color: #618135;
    }

    &:disabled {
      opacity: 0.7;
    }
  }
}

.profileInfoForm.yellowTheme {
  span {
    color: #ff0;
  }

  .btn {
    color: #000;
    background: #ff0;
    border-color: #ff0;

    &:hover {
      color: #ff0;
      background: #000;
      border-color: #ff0;
    }
  }
}

.profileInfoForm.whiteTheme {
  span {
    color: #000;
  }

  .btn {
    color: #fff;
    background: #000;
    border-color: #fff;

    &:hover {
      color: #000;
      background: #fff;
      border-color: #000;
    }
  }
}

.profileInfoForm.blueTheme {
  span {
    color: #273a64;
  }

  .btn {
    color: #fff;
    background: #273a64;
    border-color: #273a64;

    &:hover {
      color: #273a64;
      background: #fff;
      border-color: #273a64;
    }
  }
}

.medium.profileInfoForm {
  span {
    font-size: 18px;
  }

  .btn {
    font-size: 22px;
  }
}

.large.profileInfoForm {
  span {
    font-size: 20px;
  }

  .btn {
    font-size: 24px;
  }
}
