.homepage {
  background: #fff;
  transition: all 0.2s ease;
}

.homepage.yellowTheme {
  background: #000;
  color: yellow;
}

.homepage.whiteTheme {
  background: #fff;
  color: #000;
}

.homepage.blueTheme {
  background: #b8eefb;
  color: #273a64;
}

.yellowTheme,
.whiteTheme,
.blueTheme {
  * {
    font-weight: bold;
  }
}
