.homepage {
  background: #fff;

  transition: all .2s ease;
}

.homepage.yellowTheme {
  color: yellow;

  background: #000;
}

.homepage.whiteTheme {
  color: #000;

  background: #fff;
}

.homepage.blueTheme {
  color: #273a64;

  background: #b8eefb;
}
