.courseActivationBody {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;

  padding-top: 240px;
  padding-bottom: 200px;

  transition: all 0.3s ease;

  h2 {
    width: 100%;

    text-align: left;

    transition: all 0.3s ease;
  }

  .bodyDescription {
    display: flex;
    align-items: center;

    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    color: #717070;
    text-align: center;
  }

  .bodyBoxCode {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;

    margin-bottom: 28px;

    input {
      width: 56px;
      height: 56px;

      text-align: center;

      border: 1px solid #a0a0a0;
      border-radius: 4px;

      &:focus {
        border: 1px solid #618135;
      }
    }
  }

  .btn {
    cursor: pointer;

    width: 221px;
    height: 64px;

    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #fff;

    background: #618135;
    border: 1px solid #717070;
    border-radius: 50px;

    transition: 0.5s;

    &:hover {
      color: #618135;

      background-color: #fff;
      border: 1px solid #618135;
    }
  }
}

.courseActivationBody.yellowTheme {
  background-color: #000;
  .courseActivation {
    color: #ff0;
  }

  .btn {
    color: #000;

    background: #ff0;
    border-color: #ff0;

    &:hover {
      color: #ff0;

      background: #000;
    }
  }

  input {
    color: #ff0;

    &:focus {
      border: 1px solid #ff0;
    }
  }

  .bodyDescription {
    color: #ff0;
  }
}

.courseActivationBody.whiteTheme {
  .btn {
    color: #f5f5f5;

    background: #000;
    border-color: #f5f5f5;

    &:hover {
      color: #000;

      background: #f5f5f5;
    }
  }

  input {
    color: #f5f5f5;

    &:focus {
      border: 1px solid #f5f5f5;
    }
  }

  .bodyDescription {
    color: #f5f5f5;
  }
}

.courseActivationBody.blueTheme {
  background-color: #afe2ef;
  .courseActivation {
    color: #273a64;
  }

  .btn {
    background: #273a64;
    border-color: #273a64;

    &:hover {
      color: #273a64;

      background: #f5f5f5;
    }
  }

  input {
    color: #273a64;

    border-color: #f5f5f5;

    &:focus {
      border: 1px solid #273a64;
    }
  }

  .bodyDescription {
    color: #273a64;
  }
}

.medium {
  .courseActivation {
    font-size: 24px;
  }

  .bodyDescription {
    font-size: 26px;
  }

  .btn {
    font-size: 22px;
  }
}

.large {
  .courseActivation {
    font-size: 28px;
  }

  .bodyDescription {
    font-size: 28px;
  }

  .btn {
    font-size: 24px;
  }
}
