.paymentSuccessContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  width: 100%;
  padding: 46px 108px 52px;

  .successMessage {
    margin: 0;

    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    color: #000000ff;
    text-align: center;
  }

  .successCheckEmail {
    align-items: center;

    margin: 11px 0 36px 0;

    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    color: #717070;
    text-align: center;
  }

  &.yellowTheme {
    transition: all 0.2s ease;
    .successMessage {
      color: var(--color-theme);
    }

    .successCheckEmail {
      color: var(--color-theme);
    }
  }

  &.whiteTheme {
    transition: all 0.2s ease;
    .successMessage {
      color: var(--color-theme);
    }

    .successCheckEmail {
      color: var(--color-theme);
    }
  }

  &.blueTheme {
    transition: all 0.2s ease;
    .successMessage {
      color: var(--color-theme);
    }

    .successCheckEmail {
      color: var(--color-theme);
    }
  }

  &.small {
    transition: all 0.2s ease;
    .successMessage {
      font-size: 38px;
    }

    .successCheckEmail {
      font-size: 25px;
    }
  }

  &.medium {
    transition: all 0.2s ease;
    .successMessage {
      font-size: 42px;
    }

    .successCheckEmail {
      font-size: 28px;
    }
  }

  &.large {
    transition: all 0.2s ease;
    .successMessage {
      font-size: 44px;
    }
    .successCheckEmail {
      font-size: 32px;
    }
  }
}

@media screen and (max-width: 390px) {
  .paymentSuccessContent {
    flex-wrap: nowrap;

    padding: 24px 32px 40px;
  }
  .media {
    padding: 13px 39px;

    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
  }
}
