.reviewsBlock {
  overflow: hidden;

  background: url('../../../../assets/images/reviews.png') bottom no-repeat;
  background-size: cover;
}

.withoutImg.reviewsBlock {
  background: none;
}

.reviewsBlock.yellowTheme {
  background: #191901;
  .reviewsTitle,
  .reviewsMainTitle,
  strong {
    color: yellow;
  }

  blockquote {
    padding-bottom: 20px;

    border-bottom: 1px solid rgb(0, 255, 255);
  }

  .authorWrap {
    border: 5px solid rgb(0, 255, 255);
  }

  cite {
    color: rgb(0, 255, 255);
    small {
      color: yellow;
    }
  }

  .sliderItem {
    background: #000;
  }

  svg {
    fill: yellow;
  }
}

.reviewsBlock.whiteTheme {
  background: #fff;
  svg {
    fill: #000;
  }
  .reviewsTitle,
  .reviewsMainTitle,
  strong {
    color: #000;
  }

  blockquote {
    padding-bottom: 20px;

    border-bottom: 1px solid #000;
  }

  .authorWrap {
    border: 5px solid #000;
  }

  cite {
    color: #000;
    small {
      color: #000;
    }
  }
}

.reviewsBlock.blueTheme {
  background: #b8eefb;
  .sliderItem svg {
    fill: #b8eefb;
  }
  .reviewsTitle,
  .reviewsMainTitle,
  strong {
    color: #273a64;
  }

  blockquote {
    padding-bottom: 20px;

    border-bottom: 1px solid #273a64;
  }

  .authorWrap {
    border: 5px solid #273a64;
  }

  cite {
    color: #273a64;
    small {
      color: #273a64;
    }
  }
}

.yellowTheme,
.whiteTheme,
.blueTheme {
  * {
    font-weight: bold;
  }
}

.reviewsLogo {
  display: flex;

  width: fit-content;
  margin: 0 auto 30px;
}

.logoText {
  margin-left: 10px;
}

.reviewsMainTitle {
  margin: 0 auto;

  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  color: #000;
  text-align: center;
  letter-spacing: normal;
}

.citesWrap {
  display: flex;
  justify-content: center;

  margin-bottom: 125px;
}

.sliderItem {
  width: 60%;
  padding: 30px;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);

  &:not(:last-child) {
    margin-right: 30px;
  }

  svg {
    fill: #618135;
  }

  .authorData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sign {
      transform: matrix(1, -0.09, 0.09, 1, 0, 0);

      display: block;

      width: 175px;
      height: auto;
      margin-left: auto;
    }
    .lastSign {
      transform: matrix(1, -0.09, 0.09, 1, 0, 0);
    }
  }
}

blockquote {
  display: inline-block;

  width: 95%;
  margin: 0 0 30px;

  font-size: 18px;
}

.authorDataWrap {
  display: flex;
  align-items: center;
}

.authorWrap {
  overflow: hidden;

  max-width: 120px;
  margin: 0 20px 0 0;

  border: 5px solid #618135;
  border-radius: 50%;

  img {
    display: block;

    width: 100%;
    height: 100%;
  }
}

.authorBlock {
  width: 95%;
  margin: auto;

  cite {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 18px;
    font-weight: 700;
    color: #000;

    small {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.4);
      letter-spacing: normal;
    }
  }
}

@media (max-width: 1150px) {
  .citesWrap {
    flex-direction: column;
    align-items: center;
    .sliderItem:first-child {
      margin: 60px 0;
    }
    .sliderItem {
      width: 70%;
    }
  }
}

@media (max-width: 768px) {
  .reviewsMainTitle {
    margin-bottom: 10px;

    font-size: 29px;
  }
  .reviewsTitle {
    margin-top: 0;
  }
  .sliderItem {
    font-size: 14px;
  }
  .citesWrap .sliderItem {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .authorData {
    .sign {
      display: none;
    }
  }
  .authorWrap {
    max-width: 80px;
  }
}

@media (max-width: 425px) {
  .reviewsMainTitle {
    font-size: 20px;
  }
}

.medium {
  .reviewsTitle {
    font-size: 16px;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    @media (max-width: 425px) {
      font-size: 12px;
    }
  }
  .reviewsMainTitle {
    margin-bottom: 10px;

    font-size: 38px;
    line-height: 55px;

    @media (max-width: 768px) {
      font-size: 50px;
      line-height: 50px;
    }

    @media (max-width: 425px) {
      font-size: 40px;
      line-height: 40px;
    }
  }
  blockquote,
  cite span,
  cite small {
    font-size: 20px;

    transition: all 0.2s ease;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
  cite span {
    font-size: 18px;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
}

.large {
  .reviewsTitle {
    font-size: 18px;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
  .reviewsMainTitle {
    margin-bottom: 10px;

    font-size: 40px;
    line-height: 60px;

    @media (max-width: 768px) {
      font-size: 50px;
      line-height: 50px;
    }

    @media (max-width: 425px) {
      font-size: 40px;
      line-height: 40px;
    }
  }
  blockquote,
  cite span,
  cite small {
    font-size: 22px;

    transition: all 0.2s ease;

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 425px) {
      font-size: 16px;
    }
  }
  cite span {
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 425px) {
      font-size: 16px;
    }
  }
}
