.openedBlindOption {
  padding-top: 288px;
  transition: all 0.2s ease;
}
.appBody {
  padding-top: 217px;

  &.defaultBody {
    padding-top: 0;
  }
  &.yellowTheme {
    background-color: #000;
  }
  &.blueTheme {
    background-color: #afe2ef;
  }
}
