.yellowTheme,
.whiteTheme,
.blueTheme {
  * {
    font-weight: bold;
  }
}

.promisesIcon {
  fill: #618135;
}

.promisesWrap.yellowTheme {
  .promisesTitle,
  .promisesMainTitle,
  strong,
  .promisesItemTitle {
    color: yellow;
  }

  .promisesIcon {
    fill: rgb(0, 255, 255);
  }

  .promisesItem {
    box-shadow: 0 0 0 rgba(2, 248, 212, 0.1);

    transition: all 0.2s ease;
    &:hover {
      box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);
    }
  }
  .promisesIconWrap:before {
    background-color: transparent;
  }
}

.promisesWrap.whiteTheme {
  .promisesTitle,
  .promisesMainTitle,
  strong,
  .promisesItemTitle {
    color: #000;
  }

  .promisesIcon {
    fill: #000;
  }

  .promisesIconWrap:before {
    background-color: #fff;
  }
}

.promisesWrap.blueTheme {
  .promisesTitle,
  .promisesMainTitle,
  strong,
  .promisesItemTitle {
    color: #273a64;
  }

  .promisesIcon {
    fill: #273a64;
  }

  .promisesIconWrap:before {
    background-color: #fff;
  }
}

.promisesTitle {
  cursor: pointer;

  display: block;

  margin: 0 auto 25px;

  font-size: 14px;
  font-weight: 400;
  color: #fd6ca3;
  text-align: center;
  letter-spacing: 3px;

  transition: .2s all ease;
}

.promisesTitle:hover {
  color: #3a7b76;

  transition: .2s all ease;
}

.promisesMainTitle {
  margin: 25px 0 0;

  font-size: 36px;
  line-height: 46px;
  color: #000;
  text-align: center;
  letter-spacing: normal;
}

.promisesMainTitle strong {
  color: #618135;
}

.promisesDesc {
  width: 90%;
  margin: auto;

  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.promisesItem {
  display: flex;
  flex-direction: column;

  width: 24%;
  padding: 30px 25px;

  box-shadow: 0 0 0 rgba(97, 129, 53, 0.1);

  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.01);

    box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);

    transition: all 0.2s ease;
  }
}

.promisesIconWrap {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 85px;
  height: 85px;
  &:before {
    content: '';

    position: absolute;

    display: block;

    width: 85px;
    height: 85px;

    background-color: #efffec;
    border-radius: 50%;
  }
  .promisesIcon {
    z-index: 1;

    min-width: 60px;
  }
}

.promisesText {
  min-width: 75%;
  p {
    font-size: 18px;
    line-height: 25px;
  }
}

.promisesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 60px 0;
}

.promisesItemTitle {
  position: relative;

  margin: 35px 0 15px;
  padding: 0 0 15px 0;

  font-size: 24px;
  line-height: 33px;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 0.5px;

  transition: all 0.2s linear;
}

@media (max-width: 1000px) {
  .promisesMainTitle {
    margin-top: 50px;

    font-size: 45px;
  }
  .promisesItem {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .promisesMainTitle {
    margin-top: 50px;
    margin-bottom: 40px;

    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
  }
  .promisesDesc {
    width: 100%;

    font-size: 16px;
  }
  .promisesList {
    display: none;
  }
  .promisesItem {
    transform: scale(0.9);

    width: auto;
    min-height: inherit;

    box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);
    &:hover {
      transform: scale(0.9);

      box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);
    }
  }
  .promisesWrap {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 425px) {
  .promisesMainTitle {
    font-size: 20px;
  }
  .promisesDesc {
    font-size: 14px;
  }
  .promisesWrap {
    padding-top: 0;
  }
  .promisesList {
    margin: 40px 0;
  }
}

.medium {
  .promisesTitle,
  .promisesText p {
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    @media (max-width: 425px) {
      font-size: 12px;
    }
  }
  .promisesMainTitle {
    font-size: 40px;
    line-height: 50px;

    transition: all 0.2s ease;

    @media (max-width: 768px) {
      font-size: 55px;
      line-height: 55px;
    }

    @media (max-width: 425px) {
      font-size: 35px;
      line-height: 35px;
    }
  }
  .promisesDesc {
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 425px) {
      font-size: 16px;
    }
  }
  .promisesItemTitle {
    font-size: 27px;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
}

.large {
  .promisesTitle,
  .promisesText p {
    font-size: 24px;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 16px;
    }

    @media (max-width: 425px) {
      font-size: 14px;
      line-height: 14px;
    }
  }
  .promisesMainTitle {
    font-size: 44px;
    line-height: 55px;

    transition: all 0.2s ease;

    @media (max-width: 768px) {
      font-size: 50px;
      line-height: 50px;
    }

    @media (max-width: 425px) {
      font-size: 40px;
      line-height: 40px;
    }
  }
  .promisesDesc {
    font-size: 22px;

    @media (max-width: 768px) {
      font-size: 20px;
    }

    @media (max-width: 425px) {
      font-size: 18px;
    }
  }
  .promisesItemTitle {
    font-size: 30px;

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 425px) {
      font-size: 16px;
    }
  }
}
