.yellowTheme,
.whiteTheme,
.blueTheme {
  * {
    font-weight: bold;
  }
}

.promisesIcon {
  fill: #618135;
}

.promisesWrap.yellowTheme {
  .promisesTitle,
  .promisesMainTitle,
  strong,
  .promisesItemTitle {
    color: yellow;
  }

  .promisesIcon {
    fill: rgb(0, 255, 255);
  }

  .promisesItem {
    box-shadow: 0 0 0 rgba(2, 248, 212, 0.1);
    transition: all .2s ease;
    &:hover {
      box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);
    }
  }
  .promisesIconWrap:before {
    background-color: transparent;
  }
}

.promisesWrap.whiteTheme {
  .promisesTitle,
  .promisesMainTitle,
  strong,
  .promisesItemTitle {
    color: #000;
  }

  .promisesIcon {
    fill: #000;
  }

  .promisesIconWrap:before {
    background-color: #fff;
  }
}

.promisesWrap.blueTheme {
  .promisesTitle,
  .promisesMainTitle,
  strong,
  .promisesItemTitle {
    color: #273a64;
  }

  .promisesIcon {
    fill: #273a64;
  }

  .promisesIconWrap:before {
    background-color: #fff;
  }
}

.promisesTitle {
  display: block;
  font-weight: 400;
  letter-spacing: 3px;
  color: #fd6ca3;
  font-size: 14px;
  text-align: center;
  margin: 0 auto 25px;
  cursor: pointer;
  transition: .3s all ease;
}

.promisesTitle:hover {
  color: #3a7b76;
  transition: .3s all ease;
}

.promisesMainTitle {
  color: #000;
  font-size: 36px;
  line-height: 46px;
  margin: 25px 0 0;
  letter-spacing: normal;
  text-align: center;
}

.promisesMainTitle strong {
  color: #618135;
}

.promisesDesc {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  line-height: 28px
}

.promisesItem {
  display: flex;
  flex-direction: column;
  width: 24%;
  padding: 30px 25px;
  box-shadow: 0 0 0 rgba(97, 129, 53, 0.1);
  transition: all .2s ease;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);
    transition: all .2s ease;
  }
}

.promisesIconWrap {
  height: 85px;
  width: 85px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #EFFFEC;
  }
  .promisesIcon {
    min-width: 60px;
    z-index: 1;
  }
}

.promisesText {
  min-width: 75%;
  p {
    font-size: 18px;
    line-height: 25px;
  }
}

.promisesList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 60px 0;
}

.promisesItemTitle {
  color: #000;
  position: relative;
  margin: 35px 0 15px;
  padding: 0 0 15px 0;
  text-transform: capitalize;
  transition: all .2s linear;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.5px;
}

@media (max-width: 1000px) {
  .promisesMainTitle {
    font-size: 45px;
    margin-top: 50px;
  }
  .promisesItem {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .promisesMainTitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .promisesDesc {
    width: 100%;
    font-size: 16px;
  }
  .promisesList {
    display: none;
  }
  .promisesItem {
    width: auto;
    min-height: inherit;
    transform: scale(.9);
    box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);
    &:hover {
      transform: scale(.9);
      box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);
    }
  }
  .promisesWrap {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 425px) {
  .promisesMainTitle {
    font-size: 20px;
  }
  .promisesDesc {
    font-size: 14px;
  }
  .promisesWrap {
    padding-top: 0;
  }
  .promisesList {
    margin: 40px 0;
  }
}

.medium {
  .promisesTitle,
  .promisesText p {
    font-size: 20px;
    @media (max-width: 768px) {
      font-size: 14px;
    }
    @media (max-width: 425px) {
      font-size: 12px;
    }
  }
  .promisesMainTitle {
    font-size: 40px;
    line-height: 50px;
    transition: all .2s ease;
    @media (max-width: 768px) {
      font-size: 55px;
      line-height: 55px;
    }
    @media (max-width: 425px) {
      font-size: 35px;
      line-height: 35px;
    }
  }
  .promisesDesc {
    font-size: 20px;
    @media (max-width: 768px) {
      font-size: 18px;
    }
    @media (max-width: 425px) {
      font-size: 16px;
    }
  }
  .promisesItemTitle {
    font-size: 27px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
}

.large {
  .promisesTitle,
  .promisesText p {
    font-size: 24px;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 16px;
    }
    @media (max-width: 425px) {
      font-size: 14px;
      line-height: 14px;
    }
  }
  .promisesMainTitle {
    font-size: 44px;
    line-height: 55px;
    transition: all .2s ease;
    @media (max-width: 768px) {
      font-size: 50px;
      line-height: 50px;
    }
    @media (max-width: 425px) {
      font-size: 40px;
      line-height: 40px;
    }
  }
  .promisesDesc {
    font-size: 22px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 425px) {
      font-size: 18px;
    }
  }
  .promisesItemTitle {
    font-size: 30px;
    @media (max-width: 768px) {
      font-size: 18px;
    }
    @media (max-width: 425px) {
      font-size: 16px;
    }
  }
}