.comments {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;

  .name {
    transition: all .2s ease;
  }

  &.whiteTheme {
    color: white;
    padding: 0;

    .profile {
      .name {
        color: black;
      }

      .location {
        color: black;
      }
    }

    .commentsArea {
      background: black;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 50px;

      .commentsTitle,
      span {
        color: white;
      }
    }

    .title {
      color: black;
      transition: all .2s ease;
    }
  }

  &.yellowTheme {
    background: black;
    color: yellow;

    .nameWrapper {
      .name {
        color: inherit;
      }

      .location {
        color: inherit;
      }
    }

    .commentsArea {
      p.commentsTitle {
        color: yellow;

        span {
          color: rgb(0, 255, 255);
        }
      }

      .newComment {
        background: transparent;
        border: 1px solid yellow;
        color: yellow;

        &::placeholder {
          color: yellow;
        }
      }
    }

    .commentsInfo {
      .title {
        color: yellow;
      }

      .select {
        select {
          border: 1px solid yellow;
          background: transparent;
          color: yellow;
        }
      }
    }

    .commentsArea {
      span:before {
        border: 3px solid yellow;
      }
    }
  }

  &.blueTheme {
    .profile {
      .name {
        color: #273a64;
      }

      .location {
        color: #273a64;
      }
    }

    .commentsArea {
      .commentsTitle,
      span {
        color: #273a64;
      }
    }

    .title {
      color: #273a64;
    }

    .commentsArea {
      span:before {
        border: 3px solid #273a64;
        animation: bounce-out-bck 1.5s both;
      }
    }
  }

  &.medium {
    .nameWrapper {
      .name {
        font-size: 26px;
        transition: all .2s ease;
      }

      .location {
        font-size: 20px;
        line-height: 25px;
      }
    }

    .commentsInfo {
      .title {
        font-size: 26px;
        transition: all .2s ease;
      }
      select {
        font-size: 20px;
        line-height: 23px;
        transition: all .2s ease;
      }
    }

    .commentsTitle {
      font-size: 20px;
      line-height: 23px;
    }
  }

  &.large {
    .nameWrapper {
      .name {
        font-size: 28px;
        transition: all .2s ease;
      }

      .location {
        font-size: 22px;
        line-height: 27px;
      }
    }

    .commentsInfo {
      .title {
        font-size: 28px;
        transition: all .2s ease;
      }
      select {
        font-size: 22px;
        line-height: 25px;
        transition: all .2s ease;
      }
    }

    .commentsTitle {
      font-size: 22px;
      line-height: 25px;
    }
  }
}

.profile {
  h5,
  p {
    margin: 0;
  }

  display: flex;
  gap: 17px;
  margin-bottom: 23px;

  .avatar {
    width: 67px;
    height: 67px;
  }

  .nameWrapper {
    .name {
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
      color: #717070;
    }

    .location {
      margin-top: 4px;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      color: #a0a0a0;
    }
  }
}

.commentsArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;

  .commentsTitle {
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #31477c;

    span {
      color: #eb001b;
    }
  }

  .newComment {
    height: 156px;
    resize: none;
    padding: 15px 8px 15px 15px;
    font-size: inherit;
  }

  .newCommentCheckbox {
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
  }

  .newCommentLabel {
    display: flex;
    align-items: center;
    margin-top: 17px;
  }
}

.commentsInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    margin: 0 0 30px 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #618135;
  }

  .select {
    position: relative;

    select {
      height: 43px;
      width: 205px;
      padding-left: 20px;
      font-size: 18px;
      line-height: 21px;

      &::selection {
        background-color: red;
      }
    }
  }
}

.termsCheck {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 17px;

  .termsLabel {
    padding-left: 7px;
  }
}

@media (max-width: 730px) {
  .profile {
    margin-bottom: 20px;

    .avatar {
      width: 55px;
      height: 55px;
    }

    .nameWrapper {
      .name {
        font-size: 18px;
        line-height: 23px;
      }

      .location {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .commentsInfo {
    .select {
      display: none;
    }
  }
}

