.topicTitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  color: #618135;
}

.movie {
  margin: auto;
}

.questionWrap {
  padding: 20px 24px;

  background: #f7f5ec;
  .topicTitle {
    margin: 0;
  }
  .question {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    color: #000000;
  }

  .answer {
    display: block;

    margin-bottom: 15px;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #717070;
  }
  .submitBtn {
    margin-left: 0;
  }
}
