.confirmMailPage {
  position: relative;

  height: 100vh;

  transition: all 0.3s ease;
  .confirmMailPage__wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    padding: 0 40px;

    border-radius: 15px;

    transition: all 0.3s ease;
    &.yellowTheme {
      background-color: #191901;
    }
    &.whiteTheme {
      background-color: #f5f5f5;
    }
    &.blueTheme {
      background-color: #e5f9ff;
    }

    @media (max-width: 620px) {
      width: 90%;
      padding: 0 10px;

      transition: all 0.3s ease;
    }
  }
  &.yellowTheme {
    background-color: black;
    border-bottom: 1px solid yellow;
  }
  &.blueTheme {
    background-color: #b8eefb;
  }

  @media (max-height: 753px) {
    height: 110vh;
  }

  @media (max-height: 680px) {
    height: 120vh;
  }
}
