.confirmMailPage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 88px 0 160px;
  transition: all .2s ease;
  .confirmMailPage__wrapper {
    padding: 0 40px;
    max-width: 600px;
    width: 100%;
    border-radius: 15px;
    @media (max-width: 620px) {
      width: 90%;
      padding: 0 10px;
    }
  }

  .contentContainer {
    padding: 30px 30px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .text {
      font-weight: 600;
      font-size: 26px;
      line-height: 33px;
      margin: 11px 0 36px 0;
      text-align: center;
      align-items: center;
      color: #717070;
    }

    .textLinkCenter {
      text-align: center;
    }

    &.small {
      .text {
        font-size: 22px;
      }
    }

    &.medium {
      .text {
        font-size: 28px;
      }
    }

    &.large {
      .text {
        font-size: 30px;
      }
    }
  }


  &.yellowTheme {
    background-color: #000;
    border-bottom: 1px solid yellow;

    .text {
      color: aqua;
    }
  }

  &.blueTheme {
    background-color: #AEE2EFFF;

    .text {
      color: var(--color-theme);
    }
  }

  &.whiteTheme {
    background-color: #ffffffff;

    .text {
      color: var(--color-theme);
    }
  }

  &.blindOptionsOpen {
    padding-top: 180px;
  }
}
