section.profilePage {
  display: flex;
  flex-wrap: wrap;
  padding-top: 210px;
  padding-bottom: 160px;

  .profileTitle {
    transition: all 0.3s ease;
    font-weight: 600;
    font-size: 36px;
  }

  .profilePageInfoWrap {
    display: flex;
  }

  .optionEnter {
    opacity: 0;
    transform: translate(1000px, 1000px);
    transition: all 0.3s ease;
  }

  .optionEnterActive {
    opacity: 1;
    transform: translate(0);
    transition: all 0.3s ease;
  }

  .optionExitActive {
    opacity: 0;
    transform: translate(1000px, 1000px);
    transition: all 0.3s ease;
  }

  .logoutBtn {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin: 30px auto 0;
    cursor: pointer;

    span {
      margin-left: 15px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: #717070;
      transition: all 0.3s ease;
    }

    svg {
      fill: #717070;
      transition: all 0.3s ease;
    }

    &:hover {
      span {
        color: red;
        transition: all 0.3s ease;
      }

      svg {
        fill: red;
        transition: all 0.3s ease;
      }
    }
  }

  .logoutDesc {
    margin-top: 37px;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: #717070;
  }

  .logoutBtnWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;

    button {
      width: 40%;
    }
  }

  .submitBtn {
    padding: 13px 20px;
    background-color: #618135;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #618135;
    border-radius: 50px;
    width: 388px;
    max-width: 100%;
    height: 64px;
    font-weight: 600;
    font-size: 20px;

    &:hover {
      background-color: #fff;
      border: 1px solid #618135;
      color: #618135;
    }

    &:disabled {
      opacity: 0.7;
    }
  }

  .inverseBtn {
    font-family: 'Proba', sans-serif;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #618135;
    border: 1px solid #618135;
    transition: all 0.2s linear;
    margin: 20px auto;
    width: 100%;
    max-width: 390px;
    justify-content: center;
    padding: 12px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
      background-color: #618135;
      border: 1px solid #618135;
      color: #fff;
      transition: all 0.2s linear;

      svg,
      path {
        fill: #fff;
        transition: all 0.2s linear;
      }
    }

    &:disabled {
      opacity: 0.7;
    }
  }
}

@media (max-width: 1200px) {
  .profilePage {
    justify-content: center;
    flex-wrap: wrap;

    .profileTitle {
      padding-top: 20px;
    }

    .aside {
      position: absolute;
      left: 20px;
      width: 95%;
    }

    .logoutBtn {
      position: absolute;
      top: 610px;
      left: 30px;
    }
  }
}

@media (min-width: 374px) and (max-width: 500px) {
  .profilePage {
    .aside {
      position: absolute;
      left: 10px;
    }

    .logoutBtn {
      position: absolute;
      top: 610px;
      left: 30px;

      .logout {
        display: none;
      }
    }
  }
}

.yellowTheme.profilePage {
  background: #000;

  .profileTitle {
    color: #ff0;
  }

  .logoutBtn {
    svg {
      fill: #ff0;
    }

    span {
      color: #ff0;
    }
  }

  .logoutDesc {
    color: #ff0;
  }

  .submitBtn {
    color: #000;
    background-color: #ff0;
    border-color: #ff0;

    &:hover {
      color: #ff0;
      background-color: #000;
      border-color: #ff0;
    }
  }

  .inverseBtn {
    color: #ff0;
    background-color: #000;
    border-color: #ff0;

    &:hover {
      color: #000;
      background-color: #ff0;
      border-color: #ff0;
    }
  }
}

.whiteTheme.profilePage {
  .logoutBtn {
    svg {
      fill: #000;
    }

    span {
      color: #000;
    }
  }

  .submitBtn {
    color: #fff;
    background-color: #000;
    border-color: #fff;

    &:hover {
      color: #000;
      background-color: #fff;
      border-color: #fff;
    }
  }

  .inverseBtn {
    color: #000;
    background-color: #fff;
    border-color: #fff;

    &:hover {
      color: #fff;
      background-color: #000;
      border-color: #fff;
    }
  }
}

.blueTheme.profilePage {
  background: #afe2ef;

  .profileTitle {
    color: #273a64;
  }

  .logoutBtn {
    svg {
      fill: #273a64;
    }

    span {
      color: #273a64;
    }
  }

  .submitBtn {
    color: #fff;
    background-color: #273a64;
    border-color: #273a64;

    &:hover {
      color: #273a64;
      background-color: #fff;
      border-color: #273a64;
    }
  }

  .inverseBtn {
    color: #273a64;
    background-color: #fff;
    border-color: #273a64;

    &:hover {
      color: #fff;
      background-color: #273a64;
      border-color: #273a64;
    }
  }
}

.medium.profilePage {
  .profileTitle {
    font-size: 38px;
  }

  .profilePageInfoWrap {
    .logoutBtn span {
      font-size: 20px;
    }
  }
}

.large.profilePage {
  .profileTitle {
    font-size: 40px;
  }

  .profilePageInfoWrap {
    .logoutBtn span {
      font-size: 22px;
    }
  }
}
