.paymentWrapper {
  background: url('../../../assets/images/reviews.png') bottom no-repeat;
  background-size: cover;
  padding-bottom: 190px;

  .paymentOffer {
    display: flex;
    width: 1100px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);
    border-radius: 26px;
    overflow: hidden;

    h3 {
      background: #F7F5EC;
      margin: 0;
      padding: 22px 42px;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
    }

    .descWrapper {
      min-width: 330px;
      padding-bottom: 25px;
      border-right: 1px solid #E5E5E5;

      .priceWrappper {
        display: flex;
        margin: 30px auto;
        padding: 0 40px;

        span:first-child {
          font-weight: 700;
          font-size: 34px;
          line-height: 27px;
          color: #FF3F15;
        }

        span:last-child {
          display: flex;
          align-items: end;
          font-weight: 400;
          font-size: 24px;
          line-height: 24px;
          text-decoration-line: line-through;
          color: rgba(255, 63, 21, 0.5);
        }

        sup {
          color: #FF3F15;
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          margin: 0 10px 0 3px;
        }
      }

      ul {
        margin-bottom: 40px;

        li {
          margin-bottom: 18px;
          padding: 0 20px 0 60px;
          position: relative;

          &:after {
            content: '';
            display: block;
            width: 9px;
            height: 9px;
            position: absolute;
            top: 0;
            left: 40px;
            background: #FF3F15;
            border-radius: 50%;
          }

          h4 {
            margin: 0 0 10px;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            transition: all .2s ease;
          }

          span {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #666666;
            transition: all .2s ease;
          }
        }
      }

      button {
        width: 200px;
      }
    }

    .bankDetailsWrapper {
      padding-right: 13%;

      p {
        padding-left: 40px;
      }

      p.entryText {
        margin-top: 30px;
        color: #666666;
      }

      p:last-child {
        font-weight: 500;
      }
    }
  }

  &.yellowTheme {
    background: url('../../../assets/images/reviewsBGyellow.png') bottom no-repeat;
    background-size: cover;


    h1 {
      color: yellow;
    }

    .paymentOffer {
      background: #000;
      border: 1px solid #191901;

      .descWrapper {
        border-right: 1px solid #191901;

        h4 {
          color: yellow;
        }

        ul {
          li {
            span {
              color: yellow;
            }

            &:after {
              background: aqua;
            }
          }
        }
      }

      h3 {
        background: #191901;
        color: yellow;
      }

      .bankDetailsWrapper {
        .entryText {
          color: yellow;
        }
        p {
          color: yellow;
        }
      }
    }
  }

  &.whiteTheme {

    background: url('../../../assets/images/whiteThemeReviewBG.png') bottom no-repeat;
    background-size: cover;

    h1 {
      color: #000;
    }

    .paymentOffer {
      background: #000;
      border: 1px solid #000;

      .descWrapper {
        border-right: 1px solid #191901;

        h4 {
          color: #fff;
        }

        ul {
          li {
            span {
              color: #fff;
            }

            &:after {
              background: #fff;
            }
          }
        }
      }

      h3 {
        background: #000;
        color: #fff;
      }

      .bankDetailsWrapper {
        .entryText {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }
  }

  &.blueTheme {

    background: url('../../../assets/images/whiteThemeReviewBG.png') bottom no-repeat;
    background-size: cover;

    h1 {
      color: #273a64;
    }

    .paymentOffer {
      background: #fff;
      border: 1px solid #000;

      .descWrapper {
        border-right: 1px solid #191901;

        h4 {
          color: #273a64;
        }

        ul {
          li {
            span {
              color: #273a64;
            }

            &:after {
              background: #fff;
            }
          }
        }
      }

      h3 {
        background: #fff;
        color: #273a64;
      }

      .bankDetailsWrapper {
        .entryText {
          color: #273a64;
        }
        p {
          color: #273a64;
        }
      }
    }
  }

  &.medium {
    h1 {
      font-size: 40px;
    }
    h3 {
      font-size: 22px;
    }
    .descWrapper ul li {
      h4 {
        font-size: 20px;
        transition: all .2s ease;
      }
      span {
        font-size: 18px;
        transition: all .2s ease;
      }
    }

    .bankDetailsWrapper p {
      font-size: 20px;
    }
  }

  &.large {
    h1 {
      font-size: 44px;
    }
    h3 {
      font-size: 24px;
    }
    .descWrapper ul li {
      h4 {
        font-size: 22px;
        transition: all .2s ease;
      }
      span {
        font-size: 20px;
        transition: all .2s ease;
      }
    }

    .bankDetailsWrapper p {
      font-size: 22px;
    }
  }
}
