.loginBackground {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 190px 0 160px;

  background: url('../../../../assets/images/reviews.png') center 33vh no-repeat;
  background-size: cover;
}

.loginWrapper {
  overflow: hidden;

  width: 700px;
  padding-bottom: 80px;

  background: #fff;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);
  .authHeader {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 88px;

    background: #f7f5ec;
    .logoText {
      margin-left: 10px;
    }
  }
  .authSwitcherWrapper {
    display: flex;

    margin-bottom: 10px;
    padding: 0 23px;

    background: #fff;
    .authSwitcher {
      position: relative;

      width: 50%;
      padding: 37px 0 17px;

      font-size: 24px;
      font-weight: 600;
      color: #000;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      border-bottom: 2px solid #eaeaea;
      &:first-child {
        border-color: #31477c;
      }
      &:first-child:before {
        content: '';

        position: absolute;
        right: -1px;

        display: block;

        width: 2px;
        height: 27px;

        background: #eaeaea;
      }
    }
  }
}

.signWithTitle {
  margin: 30px 25px;

  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;

  max-width: 400px;
  margin: 5px auto 10px;
  .goBack {
    max-width: 150px;

    color: #618135;

    background: #fff;
    &:hover {
      color: #fff;

      background-color: #618135;
    }
  }
  .continue {
    max-width: 220px;
  }
}

.phone {
  margin: 0 auto 20px;

  font-size: 22px;
  font-weight: bold;
  color: #000;
}

.repeatCode {
  cursor: pointer;

  display: flex;

  margin: 32px auto 20px;

  color: #717070;

  background: transparent;
  border: none;
  outline: none;
}

.confirmRegistrationWrap {
  .confirmLabel {
    span {
      margin: 35px auto 15px;

      font-size: 22px;
      font-weight: 400;
      font-style: normal;
      line-height: 28px;

      transition: all 0.3s ease;
    }
  }
}

@media (max-width: 730px) {
  .loginBackground {
    padding: 155px 0 100px;
    .loginWrapper {
      width: calc(100% - 30px);
      .authHeader {
        svg:first-child {
          width: 55px;
        }

        svg:last-child {
          width: 85px;
        }
      }

      .authSwitcherWrapper {
        padding: 0 15px;
        .authSwitcher {
          padding: 22px 0 13px;

          font-size: 18px;
        }
      }

      .formLabel,
      .orWord {
        width: calc(100% - 20px);
        span {
          font-size: 14px;
        }
        .textField {
          font-size: 16px;
        }
      }

      .formLabel:last-child {
        margin-bottom: 24px;
      }

      .signWithTitle {
        font-size: 18px;
      }

      .anotherTypeLoginBtnWrap {
        .anotherTypeLogin {
          align-items: center;
          justify-content: center;

          width: 63px;
          height: 58px;
          padding: 0 17px;
          svg {
            margin: 0;
          }
          span {
            display: none;
          }
        }
        .anotherTypeLogin:first-child {
          margin-right: 7%;
        }
      }

      .signWithTitle {
        margin-bottom: 20px;
      }
      .anotherTypeLogin {
        margin-bottom: 50px;
      }
    }
    .phone {
      font-size: 18px;
    }
    .buttonWrapper {
      justify-content: space-around;

      max-width: 100%;
      padding: 0 15px;
    }
    .loginWrapper {
      padding-bottom: 50px;
    }
  }
}

.yellowTheme {
  .continue:hover {
    background-color: inherit;
  }
  .phone {
    color: aqua;
  }
  .goBack {
    color: yellow;

    background: inherit;

    transition: all 0.3s ease;
    &:hover {
      color: #000 !important;

      background: yellow;

      transition: all 0.3s ease;
    }
  }
  .repeatCode {
    color: aqua;
  }
}

.whiteTheme {
  .continue {
    background-color: inherit;
  }
  .confirmLabel {
    span {
      color: #000;
    }
  }
  .phone {
    color: #000;
  }
  .goBack {
    color: #fff;

    background: #000;

    transition: all 0.3s ease;
    &:hover {
      color: #000 !important;

      background: inherit;
      border: 1px solid black;

      transition: all 0.3s ease;
    }
  }
  .repeatCode {
    color: #3a3a3a;
  }
}

.blueTheme {
  .phone {
    color: #273a64;
  }
  .goBack {
    color: #afe2ef;

    background: #273a64;

    transition: all 0.3s ease;
    &:hover {
      color: #273a64;

      background: inherit;

      transition: all 0.3s ease;
    }
  }
  .repeatCode {
    color: #273a64;
  }
}

.medium {
  .confirmLabel {
    span {
      font-size: 24px;

      transition: all 0.3s ease;
    }
  }
  .phone {
    font-size: 24px;

    transition: all 0.3s ease;
  }
  .repeatCode {
    font-size: 15px;

    transition: all 0.3s ease;
  }
}

.large {
  .confirmLabel {
    span {
      font-size: 26px;

      transition: all 0.3s ease;
    }
  }
  .phone {
    font-size: 26px;

    transition: all 0.3s ease;
  }
  .repeatCode {
    font-size: 17px;

    transition: all 0.3s ease;
  }
}
