section.popupSectionWrapper {
  padding-bottom: 160px;

  .title {
    width: 100%;
    margin: 40px 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    color: #000000;
    transition: all 0.2s ease;
  }

  &.yellowTheme {
    .title {
      color: #ffff00ff;
    }
  }

  &.whiteTheme {
    background-color: transparent;

    .title {
      color: black;
    }
  }

  &.blueTheme {
    .title {
      color: #273a64ff;
    }
  }

  &.medium {
    .title {
      font-size: 40px;
    }
  }

  &.large {
    .title {
      font-size: 44px;
    }
  }
}

@media screen and (max-width: 1000px) {
  section.popupSectionWrapper {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.center {
  margin: 0 auto;
}
