section.popupSectionWrapper {
  max-width: 2000px;
  padding-top: 240px;
  padding-bottom: 200px;

  .title {
    margin: 42px 0 58px;

    font-size: 36px;
    font-weight: 600;
    line-height: 46px;

    transition: all 0.2s linear;
  }

  &.yellowTheme {
    background-color: #191901;

    .title {
      color: #ffff00ff;
    }
  }

  &.whiteTheme {
    background-color: transparent;

    .title {
      color: black;
    }
  }

  &.blueTheme {
    background-color: #aee2ef;

    .title {
      color: #273a64ff;
    }
  }

  &.small {
    .title {
      font-size: 26px;
    }
  }

  &.medium {
    .title {
      font-size: 30px;
    }
  }

  &.large {
    .title {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 1000px) {
  section.popupSectionWrapper {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.center {
  margin: 0 auto;
}
