.settingsWrap {
  margin-left: 40px;

  h2 {
    transition: all .3s ease;
    margin-top: 0;
    font-size: 28px;
    line-height: 36px;
    text-transform: capitalize;
    color: #618135;
  }
}

@media(max-width: 1200px) {
  .title {
    position: absolute;
    top: 580px;
    left: 40%;
  }
}

@media(min-width: 374px) and (max-width: 500px) {
  .title {
    left: 25%;
  }
}

.yellowTheme.settingsWrap {
  h2 {
    color: #ff0;
  }
}

.whiteTheme.settingsWrap {
  h2 {
    color: #000;
  }
}

.blueTheme.settingsWrap {
  h2 {
    color: #273a64;
  }
}

.medium.settingsWrap {
  h2 {
    font-size: 30px;
  }
}

.large.settingsWrap {
  h2 {
    font-size: 32px;
  }
}