.cropperWrapper {
  position: relative;

  width: auto;
  height: 400px;

  background: #555;
}

.cropperActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  margin: auto;
  padding: 20px 0;

  .cropperSlidersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    margin: 0;
    padding: 0 10px;

    .sliderWrapper {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;

      .cropperInputValue {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 150px;

        font-size: 18px;
      }
    }
  }
  .cropperBtnContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
    justify-content: center;

    width: 100%;
    button {
      width: 40%;
    }
  }
}

input[type='range'] {
  width: 100%;
  margin: 18px 0;

  -webkit-appearance: none;
  &::-webkit-slider-runnable-track {
    cursor: pointer;

    width: 100%;
    height: 2px;

    background: #618135;
    border-radius: 2px;
  }
  &::-webkit-slider-thumb {
    cursor: pointer;

    width: 20px;
    height: 20px;
    margin-top: -10px;

    background: #fff;
    border: 4px solid #618135;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #618135, 0 0 1px #618135;

    -webkit-appearance: none;
  }
  &:focus {
    outline: none;
  }
  &:focus::-webkit-slider-runnable-track {
    background: #32477c;
  }
  &:focus::-webkit-slider-thumb {
    border: 4px solid #32477c;
    box-shadow: 1px 1px 1px #32477c, 0 0 1px #32477c;
  }
}
