.asideItem {
  max-width: 310px;

  @media (max-width: 1280px) {
    max-width: 100%;
  }
}

.asideLink {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  height: 4.5rem;
  padding: 0 25px;

  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  color: #717070;
  text-decoration: none;

  transition: opacity 0.5s ease;

  &:after {
    content: '';

    position: absolute;
    right: 22px;

    display: block;

    width: 38px;
    height: 38px;

    opacity: 0;
    background: url('../../../../assets/images/Shape.png') no-repeat;

    transition: opacity 0.5s ease;
  }
}

@media (max-width: 1280px) {
  .asideLink {
    &:after {
      transform: rotate(-90deg);

      background: url('../../../../assets/images/Shape.png') no-repeat;

      transition: all 0.3s ease;
    }
  }
}

.asideLink:not(:first-child):before {
  content: '';

  position: static;

  display: block;

  width: auto;
  height: 1px;
  margin: 0 1.875rem;

  background: rgba(0, 0, 0, 0.05);
}

.asideLink:hover,
.asideLink:focus {
  color: inherit;

  background: #f7f5ec;
}

.optionEnter {
  overflow: hidden;

  max-height: 0;
}

.optionEnterActive {
  max-height: 800px;

  transition: all 1.5s ease;
}

.optionExit {
  max-height: 800px;
}

.optionExitActive {
  overflow: hidden;

  max-height: 0;

  transition: all 1s ease;
}

a.activeItem,
span.activeItem {
  position: relative;
  z-index: 10;

  background: #f7f5ec;

  transition: all 0.3s ease;

  &:after {
    opacity: 1;

    transition: all 0.3s ease;
  }
}

.asideSubmenu {
  li {
    cursor: pointer;

    position: relative;

    transition: all 0.3s ease;

    a {
      display: flex;

      padding: 10px 24px;

      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      color: #717070;
      text-decoration: none;

      transition: all 0.3s ease;
    }

    &:first-child {
      a {
        padding: 24px 24px 10px;
      }
    }

    &:last-child {
      a {
        padding: 10px 24px 24px;
      }
    }

    &.activeTopic,
    &:hover {
      background: #f7f5ec;

      transition: all 0.3s ease;
    }
  }
}

.upArrow {
  &:after {
    transform: rotate(-90deg);

    background: url('../../../../assets/images/Shape.png') no-repeat;

    transition: all 0.3s ease;
  }
}

.rightArrow {
  z-index: 10;

  color: inherit;

  background: #f7f5ec;

  &:hover {
    background: #f7f5ec;
  }

  &:after {
    opacity: 1;
    background: url('../../../../assets/images/Shape.png') no-repeat;

    transition: all 0.3s ease;
  }
}

.yellowTheme {
  &.asideItem {
    background-color: yellow;

    & li {
      a {
        color: black;
      }

      &:not(.activeItem):hover {
        background-color: aqua;
      }
    }

    .activeTopic {
      background-color: aqua;
    }

    .asideLink {
      color: black;

      transition: all 0.3s ease;

      &:not(.activeItem):hover {
        background-color: yellow;
      }
    }
  }

  a.activeItem {
    color: #000;

    background: #00ffff;
  }

  .asideLink {
    font-size: 18px;
    color: yellow;

    background-color: transparent;

    &:after {
      background: url('../../../../assets/images/asideBlackMode.svg') no-repeat;
    }
  }

  .asideLink:not(.activeItem):hover {
    color: inherit;

    background: #000;
  }
}

.whiteTheme {
  &.asideItem {
    background-color: #000;

    & li {
      a {
        color: #fff;
      }

      &:not(.activeItem):hover {
        background-color: white;

        a {
          color: #000;
        }
      }
    }

    .activeTopic {
      background-color: #fff;

      a {
        color: #000;
      }
    }

    .asideLink {
      color: #fff;

      transition: all 0.3s ease;

      &:not(.activeItem):hover {
        background-color: white;

        &:after {
          background: url('../../../../assets/images/asideBlackMode.svg') no-repeat;
        }
      }
    }
  }

  .rightArrow {
    background-color: black;
  }

  a.activeItem {
    color: #fff;

    background: #000;
  }

  .asideLink {
    &:after {
      background: url('../../../../assets/images/asideWhiteMode.svg') no-repeat;
    }
  }

  .asideLink:not(.activeItem):hover {
    color: inherit;

    background: #f5f5f5;
  }
}

.blueTheme {
  &.asideItem {
    background-color: #273a64;

    & li {
      a {
        color: #afe2ef;
      }

      &:not(.activeItem):hover {
        background-color: #afe2ef;

        a {
          color: #273a64;
        }
      }
    }

    .activeTopic {
      background-color: #afe2ef;

      a {
        color: #273a64;
      }
    }

    .asideLink {
      color: #afe2ef;

      transition: all 0.3s ease;

      &:not(.activeItem):hover {
        color: #273a64;

        background-color: #afe2ef;

        &:after {
          background: url('../../../../assets/images/asideBlackMode.svg') no-repeat;
        }
      }
    }
  }

  .rightArrow {
    background-color: #273a64;
  }

  a.activeItem {
    color: #afe2ef;

    background: #273a64;
  }

  .asideLink {
    color: #273a64;

    &:after {
      background: url('../../../../assets/images/asideWhiteMode.svg') no-repeat;
    }
  }

  .asideLink:not(.activeItem):hover {
    color: inherit;

    background: #f5f5f5;
  }
}

.title {
  transition: all 0.2s linear;
}

.medium {
  .title {
    font-size: 20px;
  }
}

.large {
  .title {
    font-size: 22px;
  }

  .medium {
    .asideLink {
      font-size: 20px;
    }

    .asideSubmenu {
      li {
        a {
          font-size: 20px;
        }
      }
    }
  }

  .large {
    .asideLink {
      font-size: 22px;
    }

    .asideSubmenu {
      li {
        a {
          font-size: 22px;
        }
      }
    }
  }
}
