.asideLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0 25px;
  height: 4.5rem;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #717070;
  transition: opacity .5s ease;

  &:after {
    content: '';
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 22px;
    background: url('../../../../assets/images/Shape.png') no-repeat;
    opacity: 0;
    transition: opacity .5s ease;
  }
}

.asideLink:not(:first-child):before {
  display: block;
  position: static;
  margin: 0 1.875rem;
  width: auto;
  height: 1px;
  background: rgba(0, 0, 0, .05);
  content: '';
}

.asideLink:hover,
.asideLink:focus {
  background: #F7F5EC;
  color: inherit;
}

.optionEnter {
  max-height: 0;
  transition: all 1s ease;
}

.optionEnterActive {
  max-height: 300px;
  overflow: hidden;
  transition: all 1s ease;
}

.optionExitActive {
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease;
}

a.activeItem,
span.activeItem {
  background: #F7F5EC;
  position: relative;
  transition: all .3s ease;
  z-index: 10;

  &:after {
    opacity: 1;
    transition: all .3s ease;
  }
}

.asideSubmenu {
  li {
    position: relative;
    cursor: pointer;
    transition: all .3s ease;

    a {
      display: flex;
      padding: 10px 24px;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      color: #717070;
      text-decoration: none;
    }

    &:first-child {
      a {
        padding: 24px 24px 10px;
      }
    }

    &:last-child {
      a {
        padding: 10px 24px 24px;
      }
    }

    &.activeTopic,
    &:hover {
      background: #f7f5ec;
      transition: all .3s ease;
    }
  }
}

.upArrow {
  &:after {
    background: url('../../../../assets/images/Shape.png') no-repeat;
    transform: rotate(-90deg);
    transition: all .3s ease;
  }
}

.rightArrow {
  background: #F7F5EC;
  color: inherit;
  z-index: 10;
  &:hover {
    background: #F7F5EC;
  }
  &:after {
    opacity: 1;
    background: url('../../../../assets/images/Shape.png') no-repeat;
    transition: all .3s ease;
  }
}

.yellowTheme {
  a.activeItem {
    background: #00ffff;
    color: #000;
  }

  .asideLink {
    color: yellow;

    &:after {
      background: url('../../../../assets/images/asideBlackMode.svg') no-repeat;
    }
  }

  .asideLink:not(.activeItem):hover {
    background: #000;
    color: inherit;
  }
}

.whiteTheme {
  a.activeItem {
    background: #000;
    color: #fff;
  }

  .asideLink {
    color: #000;

    &:after {
      background: url('../../../../assets/images/asideWhiteMode.svg') no-repeat;
    }
  }

  .asideLink:not(.activeItem):hover {
    background: #f5f5f5;
    color: inherit;
  }
}

.blueTheme {
  a.activeItem {
    background: #273a64;
    color: #fff;
  }

  .asideLink {
    color: #273a64;

    &:after {
      background: url('../../../../assets/images/asideWhiteMode.svg') no-repeat;
    }
  }

  .asideLink:not(.activeItem):hover {
    background: #f5f5f5;
    color: inherit;
  }
}


