.asideItem {
  max-width: 310px;
  @media (max-width: 1280px) {
    max-width: 100%;
  }
}

.asideLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 25px;
  height: 4.5rem;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #717070;
  transition: opacity 0.5s ease;

  &:after {
    content: '';
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 22px;
    background: url('../../../../assets/images/Shape.png') no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

@media (max-width: 1280px) {
  .asideLink {
    &:after {
      background: url('../../../../assets/images/Shape.png') no-repeat;
      transform: rotate(-90deg);
      transition: all 0.3s ease;
    }
  }
}

.asideLink:not(:first-child):before {
  display: block;
  position: static;
  margin: 0 1.875rem;
  width: auto;
  height: 1px;
  background: rgba(0, 0, 0, 0.05);
  content: '';
}

.asideLink:hover,
.asideLink:focus {
  background: #f7f5ec;
  color: inherit;
}

.optionEnter {
  max-height: 0;
  overflow: hidden;
}

.optionEnterActive {
  max-height: 800px;
  transition: all 1.5s ease;
}

.optionExit {
  max-height: 800px;
}

.optionExitActive {
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease;
}

a.activeItem,
span.activeItem {
  background: #f7f5ec;
  position: relative;
  transition: all 0.3s ease;
  z-index: 10;

  &:after {
    opacity: 1;
    transition: all 0.3s ease;
  }
}

.asideSubmenu {
  li {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;

    a {
      display: flex;
      padding: 10px 24px;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      color: #717070;
      text-decoration: none;
      transition: all 0.3s ease;
    }

    &:first-child {
      a {
        padding: 24px 24px 10px;
      }
    }

    &:last-child {
      a {
        padding: 10px 24px 24px;
      }
    }

    &.activeTopic,
    &:hover {
      background: #f7f5ec;
      transition: all 0.3s ease;
    }
  }
}

.upArrow {
  &:after {
    background: url('../../../../assets/images/Shape.png') no-repeat;
    transform: rotate(-90deg);
    transition: all 0.3s ease;
  }
}

.rightArrow {
  background: #f7f5ec;
  color: inherit;
  z-index: 10;

  &:hover {
    background: #f7f5ec;
  }

  &:after {
    opacity: 1;
    background: url('../../../../assets/images/Shape.png') no-repeat;
    transition: all 0.3s ease;
  }
}

.yellowTheme {
  &.asideItem {
    background-color: yellow;

    & li {
      a {
        color: black;
      }

      &:not(.activeItem):hover {
        background-color: aqua;
      }
    }

    .activeTopic {
      background-color: aqua;
    }

    .asideLink {
      transition: all 0.3s ease;
      color: black;

      &:not(.activeItem):hover {
        background-color: yellow;
      }
    }
  }

  a.activeItem {
    background: #00ffff;
    color: #000;
  }

  .asideLink {
    background-color: transparent;
    color: yellow;
    font-size: 18px;

    &:after {
      background: url('../../../../assets/images/asideBlackMode.svg') no-repeat;
    }
  }

  .asideLink:not(.activeItem):hover {
    background: #000;
    color: inherit;
  }
}

.whiteTheme {
  &.asideItem {
    background-color: #000;

    & li {
      a {
        color: #fff;
      }

      &:not(.activeItem):hover {
        background-color: white;

        a {
          color: #000;
        }
      }
    }

    .activeTopic {
      background-color: #fff;

      a {
        color: #000;
      }
    }

    .asideLink {
      transition: all 0.3s ease;
      color: #fff;

      &:not(.activeItem):hover {
        background-color: white;

        &:after {
          background: url('../../../../assets/images/asideBlackMode.svg') no-repeat;
        }
      }
    }
  }

  .rightArrow {
    background-color: black;
  }

  a.activeItem {
    background: #000;
    color: #fff;
  }

  .asideLink {
    &:after {
      background: url('../../../../assets/images/asideWhiteMode.svg') no-repeat;
    }
  }

  .asideLink:not(.activeItem):hover {
    background: #f5f5f5;
    color: inherit;
  }
}

.blueTheme {
  &.asideItem {
    background-color: #273a64;

    & li {
      a {
        color: #afe2ef;
      }

      &:not(.activeItem):hover {
        background-color: #afe2ef;

        a {
          color: #273a64;
        }
      }
    }

    .activeTopic {
      background-color: #afe2ef;

      a {
        color: #273a64;
      }
    }

    .asideLink {
      transition: all 0.3s ease;
      color: #afe2ef;

      &:not(.activeItem):hover {
        background-color: #afe2ef;
        color: #273a64;

        &:after {
          background: url('../../../../assets/images/asideBlackMode.svg') no-repeat;
        }
      }
    }
  }

  .rightArrow {
    background-color: #273a64;
  }

  a.activeItem {
    background: #273a64;
    color: #afe2ef;
  }

  .asideLink {
    color: #273a64;

    &:after {
      background: url('../../../../assets/images/asideWhiteMode.svg') no-repeat;
    }
  }

  .asideLink:not(.activeItem):hover {
    background: #f5f5f5;
    color: inherit;
  }
}

.title {
  transition: all 0.2s linear;
}

.medium {
  .title {
    font-size: 20px;
  }
}

.large {
  .title {
    font-size: 22px;
  }

  .medium {
    .asideLink {
      font-size: 20px;
    }

    .asideSubmenu {
      li {
        a {
          font-size: 20px;
        }
      }
    }
  }

  .large {
    .asideLink {
      font-size: 22px;
    }

    .asideSubmenu {
      li {
        a {
          font-size: 22px;
        }
      }
    }
  }
}
