.chapterBlock {
  display: flex;
  width: 70%;
  margin-left: 40px;
  flex-direction: column;
  transition: all 0.2s linear;
}

.chapterList {
  list-style: none;
}

@media (max-width: 425px) {
  .chapterBlock {
    padding: 0;
  }
}
