.asideList {
  width: 25%;
  min-width: 397px;
  list-style: none;
  box-shadow: 0 0 3px rgb(0 0 0 / 5%);
  padding: 0;
  margin: 0;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;

  li {
    border-bottom: 1px solid #e5e5e5;
  }
}

.aside {
  min-width: 340px;
  width: 25%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(0 0 0 / 5%);
  overflow: hidden;
  @media (max-width: 390px) {
    min-width: 280px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.yellowTheme {
  &.aside {
    border: 1px solid yellow;
  }
}

.blueTheme {
  &.aside {
    border: 1px solid #273a64;
  }
}

@media (max-width: 1000px) {
  .aside {
    width: 100%;
  }
}