.donateSection {
  padding: 35px 0;

  background: url('../../../../assets/images/donatebg.png') no-repeat left, #f7f5ec;
  background-size: contain;
  &.withoutImg {
    background: #f7f5ec;
  }
  .contentWrap {
    width: 45%;
    margin-left: auto;
    h2 {
      margin: 0;

      font-size: 36px;
      line-height: 46px;
      transition: all .2s ease;
      strong {
        display: block;

        color: #618135;
      }
    }
    p {
      margin: 15px 0 35px;

      font-size: 22px;
      line-height: 28px;
    }
    a {
      display: block;

      width: max-content;
      padding: 20px 60px;

      font-size: 18px;
      line-height: 25px;
      color: #fff;
      text-decoration: none;

      background: #618135;
      border-radius: 50px;

      transition: all .2s ease;
      &.yellowTheme {
        color: aqua;

        border: 1px solid aqua;
      }
      &:hover,
      &:focus {
        background: #32487d;

        transition: all .2s ease;
      }
    }
  }
}

.donateSection.yellowTheme {
  background: url('../../../../assets/images/donatebg.png') no-repeat left, #191901;
  background-size: contain;
  &.withoutImg {
    background: #191901;
  }
  a {
    background: #000;
    &:hover {
      color: #000;

      background: aqua;
    }
  }
  h2 {
    strong {
      color: aqua;
    }
  }
}

.donateSection.whiteTheme {
  background: url('../../../../assets/images/donatebg.png') no-repeat left, #000;
  background-size: contain;
  &.withoutImg {
    background: #000;
  }
  a {
    color: #000;

    background: #fff;
    border: 1px solid #fff;
    &:hover {
      color: #fff;

      background: #000;
      border: 1px solid #fff;
    }
  }
  p {
    color: #fff;
  }
  h2 {
    color: #fff;
    strong {
      color: #fff;
    }
  }
}

.donateSection.blueTheme {
  background: url('../../../../assets/images/donatebg.png') no-repeat left, #273a64;
  background-size: contain;
  &.withoutImg {
    background: #273a64;
  }
  a {
    color: #273a64;

    background: #fff;
    border: 1px solid #fff;
    &:hover {
      color: #273a64;

      background: #b8eefb;
      border: 1px solid #273a64;
    }
  }
  p {
    color: #fff;
  }
  h2 {
    color: #fff;
    strong {
      color: #fff;
    }
  }
}

.medium {
  h2 {
    font-size: 40px !important;

    transition: all .2s ease;
  }
  p {
    font-size: 24px !important;

    transition: all .2s ease;
  }
  a {
    font-size: 20px !important;

    transition: all .2s ease;
  }
}

.large {
  h2 {
    font-size: 44px !important;

    transition: all .2s ease;
  }
  p {
    font-size: 26px !important;

    transition: all .2s ease;
  }
  a {
    font-size: 22px !important;

    transition: all .2s ease;
  }
}

@media (max-width: 1250px) {
  .donateSection {
    .contentWrap {
      width: 39%;
    }
  }
}

@media (max-width: 1155px) {
  .donateSection {
    padding: 50% 0 35px;

    background-position: top;
    background-size: contain;
    .contentWrap {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .donateSection {
    .contentWrap {
      h2 {
        font-size: 26px;
        font-weight: 600;
        line-height: 115%;
        strong {
          font-weight: 500;
        }
      }
    }
  }
}
