div.infoWrapper {
  padding-top: 210px;
  padding-bottom: 195px;
  h1 {
    margin-top: 42px;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .infoContentWrap {
    display: flex;
  }
}