div.infoWrapper {
  padding-top: 210px;
  padding-bottom: 195px;
  h1 {
    transition: all 0.3s ease;
    margin-top: 42px;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  &.yellowTheme {
    padding: 210px 55px 195px;
    width: 100%;
    border-bottom: 1px solid yellow;
    h1 {
      color: yellow;
    }
  }
  &.medium {
    h1 {
      font-size: 45px;
    }
  }
  &.large {
    h1 {
      font-size: 55px;
    }
  }
  .infoContentWrap {
    display: flex;
    transition: all 0.3s ease;
    @media (max-width: 1280px) {
      display: block;
    }
  }
}
