.header {
  position: absolute;
  z-index: 5;

  width: 100%;

  background: transparent;
}

.closeBlindOptions {
  cursor: pointer;

  position: absolute;
  top: -15px;
  right: 50%;

  width: 45px;
  height: 45px;
  margin-bottom: 100px;
  padding: 0;

  background: #fff;
  border: none;
  border-radius: 50%;

  transition: all 0.5s ease;
}

.headerTop {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px 0 0;
}

s.sdf {
  display: block;
}

.headerLogo:hover,
.headerLogo:focus-visible {
  opacity: 0.7;

  transition: all 0.2s ease;
}

.headerLogo:active {
  opacity: 0.5;
}

.headerLogo {
  outline: none;

  transition: all 0.2s ease;
}

.headerNav {
  display: flex;
  justify-content: space-between;

  width: 32%;

  @media (max-width: 1100px) {
    width: 34%;
  }
}

.headerNavLink:before {
  content: '';

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 0;

  border-bottom: 1px solid #618135;

  transition: all 0.2s ease-in-out;
}

.headerNavLink:hover,
.headerNavLink:focus,
.headerNavLink.headerActiveNavLink {
  position: relative;

  color: #618135;

  transition: all 0.2s ease;

  .headerNavLinkLabel {
    transform: translateY(-10px);

    display: block;

    transition: all 0.2s ease-in-out;
  }

  &:before {
    left: 0;

    width: 100%;

    transition: all 0.2s ease-in-out;
  }
}

.headerNavLinkLabel {
  display: block;

  transition: all 0.2s ease-in-out;
}

.headerBtnWrap {
  display: flex;

  .headerNavItem {
    display: flex;
    align-items: center;

    padding: 0 50px;

    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #fff;
    text-decoration: none;

    background: #618135;
    border: 1px solid #618135;
    border-radius: 50px;
    outline: none;

    transition: all 0.2s ease;

    &:hover,
    &:focus-visible {
      color: #618135;

      background-color: #fff;

      transition: all 0.2s ease;
    }

    &:hover:before {
      opacity: 1;
    }

    &:hover:after {
      background-color: #618135;
      border-color: #618135;
    }

    @media (max-width: 1270px) {
      font-size: 16px;

      transition: all 0.2s ease;
    }
  }
}

.headerNavLink {
  position: relative;

  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #000;
  text-decoration: none;

  transition: all 0.5s ease;
}

.mobileAccountLink {
  display: none;
}

.mobileWrap {
  display: flex;
  justify-content: space-between;

  width: 74%;

  .mobileLogo,
  .mobileNavItem {
    display: none;
  }
}

.mobileNav {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.headerNav.notMainPage {
  width: 200%;

  transition: all 0.3s ease;
}

@media (max-width: 1280px) {
  .headerNav.notMainPage {
    justify-content: space-around;

    width: 200%;
  }
}

.revert {
  transform: rotate(180deg);

  transition: all 0.5s ease;
}

.medium {
  .headerNavLink,
  .headerNavItem {
    font-size: 22px;

    transition: all 0.2s ease;
  }
}

.large {
  .headerNavLink,
  .headerNavItem {
    font-size: 24px;

    transition: all 0.2s ease;

    @media (max-width: 1370px) {
      font-size: 22px;

      transition: all 0.2s ease;
    }

    @media (max-width: 1270px) {
      font-size: 20px;

      transition: all 0.2s ease;
    }

    @media (max-width: 1040px) {
      font-size: 18px;

      transition: all 0.2s ease;
    }

    @media (max-width: 800px) {
      font-size: 16px;

      transition: all 0.2s ease;
    }
  }
}

.notMainPageWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  height: 88px;
  margin-top: 30px;

  background: #f7f5ec;
}

.headerSearch {
  display: flex;
  align-items: center;
  position: relative;
  transition: all .3s ease;

  width: 30%;
  height: 63px;

  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

  input {
    width: 100%;
    padding: 20px;

    border: 1px solid #e5e5e5;

    &:focus,
    &:hover {
      border: 1px solid #618135;
    }
  }

  button {
    margin-left: auto;
    padding: 15px;

    background: transparent;
    border: 1px solid #e5e5e5;
    border-left: none;
    outline: none;

    svg {
      transition: all 0.2s ease;
    }

    &:focus,
    &:hover {
      border: 1px solid #618135;

      svg {
        transform: scale(1.1);

        transition: all 0.2s ease;
      }
    }
  }
}

@media (max-width: 769px) {
  .headerSearch {
    position: absolute;
    top: 120px;

    width: 90%;
  }
}

.logoWrap {
  display: flex;
  align-items: center;

  &:hover .computerLight,
  &:focus .computerLight {
    -webkit-animation: blink-1 0.6s both;
    animation: blink-1 0.6s both;
  }

  @-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 0.5;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 0.5;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
}

.logoText {
  padding-left: 10px;
}

.burgerBtn,
.socialList,
.burgerContactWrap {
  display: none;
}

.header.yellowTheme {
  background-color: #000;

  .headerNavLink {
    color: yellow;

    &:before {
      border-bottom: 1px solid yellow;
    }
  }

  .blindButton {
    padding: 10px 15px;

    font-weight: 600;
    color: yellow;

    background: #000;
    border: 1px solid yellow;

    svg {
      fill: yellow;
    }

    &:hover {
      color: #000;

      background: rgb(0, 255, 255);
      border: 1px solid rgb(0, 255, 255);

      svg {
        fill: #000;
      }
    }
  }

  .closeBlindOptions {
    background: aqua;
  }

  .headerNavItem {
    color: #000;

    background: yellow;
    border: 1px solid yellow;

    transition: all 0.2s ease;

    &:hover {
      color: yellow;

      background: #000;

      transition: all 0.2s ease;
    }
  }

  .headerSearch {
    input {
      border-color: yellow;

      &::placeholder {
        color: yellow;
      }
    }

    button {
      border-color: yellow;
      border-left: none;

      svg path {
        fill: yellow;
      }
    }
  }
}

.header.whiteTheme {
  .headerNavLink {
    color: #000;

    &:before {
      border-bottom: 1px solid #000;
    }
  }

  .blindButton {
    padding: 10px 15px;

    font-weight: 600;
    color: #000;

    border: 1px solid #000;

    svg {
      fill: #000;
    }

    &:hover {
      color: #fff;

      background: #000;
      border: 1px solid #000;

      svg {
        fill: #fff;
      }
    }
  }

  .closeBlindOptions {
    background: #000;

    path {
      fill: #fff;
    }
  }

  .headerNavItem {
    color: #fff;

    background: #000;
    border: 1px solid #000;

    transition: all 0.2s ease;

    &:hover {
      color: #000;

      background: #fff;

      transition: all 0.2s ease;
    }
  }

  .headerSearch {
    input {
      border-color: #000;

      &::placeholder {
        color: #000;
      }
    }

    button {
      border-color: #000;
      border-left: none;

      svg path {
        fill: #000;
      }
    }
  }
}

.header.blueTheme {
  background-color: #afe2ef;

  .headerNavLink {
    color: #273a64;

    &:before {
      border-bottom: 1px solid #273a64;
    }
  }

  .blindButton {
    padding: 10px 15px;

    font-weight: 600;
    color: #273a64;

    border: 1px solid #273a64;

    svg {
      fill: #273a64;
    }

    &:hover {
      color: #fff;

      background: #273a64;
      border: 1px solid #273a64;

      svg {
        fill: #fff;
      }
    }
  }

  .closeBlindOptions {
    background: #273a64;

    path {
      fill: #0ff;
    }
  }

  .headerNavItem {
    color: #afe2ef;

    background: #273a64;
    border: 1px solid #273a64;

    transition: all 0.2s ease;

    &:hover {
      color: #273a64;

      background: #afe2ef;

      transition: all 0.2s ease;
    }
  }

  .headerSearch {
    input {
      border-color: #273a64;

      &::placeholder {
        color: #273a64;
      }
    }

    button {
      border-color: #273a64;
      border-left: none;

      svg path {
        fill: #273a64;
      }
    }
  }
}

.notMainPageWrapper.yellowTheme {
  background: rgb(25, 25, 1);
}

.notMainPageWrapper.whiteTheme {
  background: #f5f5f5;
}

.notMainPageWrapper.blueTheme {
  background: #afe2ef;
}

@media (max-width: 1220px) {
  .header {
    .headerTop {
      img {
        width: 105px;
      }
    }

    .blindButton,
    .headerNavItem {
      font-size: 14px;
    }

    .headerNavItem {
      padding: 0 50px;
    }

    .headerNavLink {
      font-size: 15px;
    }
  }
}

@media (max-width: 1000px) {
  .blindButton {
    font-size: 0 !important;

    svg {
      margin: 0;
    }
  }
  .logoText {
    display: none;
  }
  .logoWrap {
    width: auto;
  }
  .headerNav {
    width: 40%;
  }
}

@media (max-width: 769px) {
  .header {
    position: fixed;

    background: #f5f5f5;
    background: #f7f5ec;

    &.yellowTheme {
      background: rgb(25, 25, 1);
    }

    &.blueTheme {
      background: #afe2ef;
    }

    .headerTop {
      padding: 25px 15px;
    }

    .blindButton,
    .headerNavItem {
      display: none;
    }

    .logoText {
      display: block;
    }

    .mobileAccountLink {
      display: flex;
      align-items: center;

      font-weight: 600;
      color: #618135;

      svg {
        margin-right: 8px;
      }
    }

    .burgerBtn {
      position: relative;
      right: 0;

      display: block;

      width: 60px;
      height: 60px;
      padding: 0;

      background: transparent;
      border: none;
    }

    .burger-btn-line {
      position: absolute;
      transform-origin: 50% 50%;

      display: block;

      width: 35px;

      border-top: 2px solid #202020;
    }

    .ham {
      cursor: pointer;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      transition: transform 400ms;

      -webkit-tap-highlight-color: transparent;
    }

    .hamRotate.active {
      transform: rotate(45deg);
    }

    .hamRotate180.active {
      transform: rotate(180deg);
    }

    .line {
      fill: none;
      stroke: #618135;
      stroke: #618135;
      stroke-linecap: round;
      stroke-linecap: round;
      stroke-width: 5.5;
      stroke-width: 5.5;

      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;

      &.yellowTheme {
        stroke: yellow;
      }

      &.whiteTheme {
        stroke: black;
      }

      &.blueTheme {
        stroke: #273a64;
      }
    }

    .ham6 .top {
      stroke-dasharray: 40 172;
    }

    .ham6 .middle {
      stroke-dasharray: 40 111;
    }

    .ham6 .bottom {
      stroke-dasharray: 40 172;
    }

    .ham6.active .top {
      stroke-dashoffset: -132px;
    }

    .ham6.active .middle {
      stroke-dashoffset: -71px;
    }

    .ham6.active .bottom {
      stroke-dashoffset: -132px;
    }

    .headerNav {
      position: fixed;
      top: 110px;
      left: -1000px;

      flex-direction: column;
      justify-content: flex-start;

      width: 100vw;
      height: calc(100vh - 110px);
      padding: 20px 45px 45px;

      font-size: 20px;
      font-weight: 400;
      line-height: 23px;

      opacity: 0;
      background: #f7f5ec;

      transition: all 0.3s ease;

      .headerNavLink {
        padding: 10px 0;
      }

      .burgerContactWrap {
        display: block;

        margin-top: 55px;

        .row {
          display: flex;

          padding: 10px 0;

          address,
          a {
            color: #618135;
            text-decoration: none;

            &.yellowTheme {
              color: yellow;
            }

            &.whiteTheme,
            &.blueTheme {
              color: black;
            }

            &.large {
              font-size: 20px;
            }

            &.medium {
              font-size: 18px;
            }
          }

          svg {
            min-width: 20px;
            margin-right: 15px;
          }
        }
      }

      .socialList {
        display: flex;
        justify-content: space-evenly;

        width: 70%;
        margin: auto auto 0;

        svg {
          fill: #618135;
        }
      }
    }

    .active .headerNav {
      left: 0;

      opacity: 1;

      transition: all 0.3s ease;

      &.yellowTheme {
        background-color: black;
      }

      &.whiteTheme,
      &.blueTheme {
        background-color: white;
      }
    }
  }
}

@media (max-width: 620px) {
  .header {
    .headerNav {
      padding: 20px 25px 45px;
    }
  }
}

.searchRequestField {
  min-height: 63px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 63px;
  transition: all .3s ease;
  opacity: 1;
  border: 1px solid #618135;
  z-index: 9999999;
  &.yellowTheme {
    background-color: #000;
    border: 1px solid yellow;
    .noSearch {
      opacity: 1;
      color: aqua;
    }
    .searchList {
      ul {
        color: aqua;
        li {
          &:last-child {
            border-bottom: 1px solid yellow;
          }
          &:first-child {
            border-top: 1px solid yellow;
          }
          &:before {
            content: url('../../assets/images/hashtagYellowTheme.svg');
          }
          &:hover {
            background-color: yellow;
          }
          a {
            color: yellow;
            &:hover {
              color: black;
              &:after {
                content: url("../../assets/images/enterYellowTheme.svg");
              }
            }
          }
        }
      }
    }
  }
  &.whiteTheme {
    background-color: #fff;
    border: 1px solid #000;
    .noSearch {
      color: #000;
    }
    .searchList {
      ul {
        color: black;
        li {
          &:before {
            content: url('../../assets/images/hashtagWhiteTheme.svg');
          }
          a {
            &:hover {
              color: black;
              &:after {
                content: url("../../assets/images/enterWhiteTheme.svg");
              }
            }
          }
        }
      }
    }
  }
  &.blueTheme {
    background-color: #aee2ef;
    border: 1px solid #273a64;
    .noSearch {
      opacity: 1;
      color: #273a64;
    }
    .searchList {
      ul {
        color: #273a64;
        li {
          &:before {
            content: url('../../assets/images/hashtagBlueTheme.svg');
          }
          &:hover {
            background-color: #fff;
          }
          a {
            color: #273a64;
            &:hover {
              color: #273a64;
              &:after {
                content: url("../../assets/images/enterBlueTheme.svg");
              }
            }
          }
        }
      }
    }
  }
}

.searchRequestNoField {
  height: 0;
  display: none;
  transition: all .3s ease;
}

.noSearch {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-weight: 700;
  opacity: 0.4;
}
.searchList {
  padding: 0 20px;
  line-height: 30px;
  ul {
    padding-left: 10px;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 700;
    color: #618135;
    &:last-child {
      margin-bottom: 20px;
    }

    li {
      position: relative;
      font-weight: 300;
      font-size: 20px;
      color: #000;
      &:last-child {
        border-bottom: 1px solid #c4c4c4;
      }
      &:first-child {
        border-top: 1px solid #c4c4c4;
      }
      &:before {
        content: url('../../assets/images/hashtag.svg');
        position: absolute;
        top: 3px;
        left: 10px;
      }
      &:hover {
        background-color: #c4c4c4;
      }
      a {
        position: relative;
        padding-left: 40px;
        color: #737373;
        div {
          display: inline-block;
          width: 100%;
        }
        &:after {
          content: '';
        }
        &:hover {
          color: black;
          &:after {
            content: url("../../assets/images/enter.svg");
            position: absolute;
            right: 40px;
            top: 0;
          }
        }
      }
    }
  }
}