.forgotPassword {
  cursor: pointer;

  display: flex;
  justify-content: center;

  width: 100%;
  margin: 20px 0 45px;

  font-size: 18px;
  line-height: 23px;
  color: #717070;
  text-decoration: none;

  background: transparent;
  border: none;

  transition: all 0.3s ease;
  &:hover {
    text-decoration: underline;
  }
}

.signWithTitle {
  margin-bottom: 50px;

  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

  transition: all 0.3s ease;
}
.anotherTypeLoginBtnWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  .anotherTypeLogin {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 190px;
    height: 61px;

    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

    background: #fff;
    border: 0.5px solid #31477c;
    border-radius: 4px;
    &:first-child {
      margin-right: 8px;
    }
    svg {
      margin-right: 15px;
    }
  }
}

.popupBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  margin: auto;
  button {
    width: 40%;
  }
}
.optionEnter {
  transform: translate(1000px, 1000px);

  opacity: 0;

  transition: all 0.3s ease;
}

.optionEnterActive {
  transform: translate(0);

  opacity: 1;

  transition: all 0.3s ease;
}

.optionExitActive {
  transform: translate(1000px, 1000px);

  opacity: 0;

  transition: all 0.3s ease;
}

.resultForgotPassPopup {
  .desc {
    width: 80%;
    margin: 25px auto 0;

    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
}

.yellowTheme {
  .forgotPassword {
    color: aqua;
  }
  .signWithTitle {
    color: yellow;
  }
  .anotherTypeLogin {
    color: yellow;

    background: #000;
    border: 0.5px solid aqua;
  }
  .desc {
    color: yellow;
  }
}

.whiteTheme {
  .forgotPassword {
    color: #fff;
  }
  .signWithTitle {
    color: #fff;
  }
  .anotherTypeLogin {
    color: #fff;

    background: #000;
    border: 0.5px solid #000;
  }
}

.blueTheme {
  background-color: #e5f9ff;
  .forgotPassword {
    color: #273a64;
  }
  .signWithTitle {
    color: #273a64;
  }
  .anotherTypeLogin {
    color: #afe2ef;

    background: #273a64;
    border: 0.5px solid #fff;
  }
}

.medium {
  .signWithTitle {
    font-size: 26px;

    transition: all 0.3s ease;
  }
  .forgotPassword {
    font-size: 20px;

    transition: all 0.3s ease;
  }
  .anotherTypeLoginBtnWrap {
    button {
      font-size: 20px;

      transition: all 0.3s ease;
    }
  }
}

.large {
  .signWithTitle {
    font-size: 28px;

    transition: all 0.3s ease;
  }
  .forgotPassword {
    font-size: 22px;

    transition: all 0.3s ease;
  }
  .anotherTypeLoginBtnWrap {
    button {
      font-size: 22px;

      transition: all 0.3s ease;
    }
  }
}
