.courseActivationContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 41px 68px 50px;

  .bodyDescription {
    display: flex;
    align-items: center;

    margin: 0;

    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    color: #717070;
    text-align: center;
  }

  .bodyBoxCode {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: center;

    margin: 28px;

    input {
      width: 56px;
      height: 56px;

      text-align: center;

      border: 1px solid #a0a0a0;
      border-radius: 4px;

      &:focus {
        border: 1px solid #618135;
      }
    }
  }

  &.yellowTheme {
    transition: all 0.2s ease;

    .bodyDescription {
      color: yellow;
    }

    input {
      color: yellow;

      &:focus {
        border: 1px solid yellow;
      }
    }
  }

  &.whiteTheme {
    transition: all 0.2s ease;

    .bodyDescription {
      color: #fff;
    }

    input {
      color: #fff;

      &:focus {
        border: 1px solid #fff;
      }
    }
  }

  &.blueTheme {
    transition: all 0.2s ease;

    .bodyDescription {
      color: #273a64;
    }

    input {
      color: #273a64;

      &:focus {
        border: 1px solid #273a64;
      }
    }
  }
}

.medium {
  .bodyDescription {
    font-size: 26px;
  }

  .activateBtn {
    font-size: 22px;
  }
}

.large {
  .bodyDescription {
    font-size: 28px;
  }

  .activateBtn {
    font-size: 24px;
  }
}

@media screen and (max-width: 390px) {
  .courseActivationContent {
    padding: 31px 15px 40px;

    .bodyDescription {
      text-align: left;
    }
  }
}
