.paginationList {
  display: flex;
  align-items: center;
  gap: 20px;

  .paginationItem {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: 'Proba Pro', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #717070;
    transition: all 0.2s linear;
  }

  .paginationItem.yellowTheme {
    color: #ff0;
  }

  .paginationItem.whiteTheme {
    color: #191901;
  }

  .paginationItem.blueTheme {
    color: #273a64;
  }

  .active {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #83a358;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    transition: all 0.2s linear;
  }
}

.active.yellowTheme {
  color: #191901;
  background-color: #0ff;
}

.active.whiteTheme {
  background-color: #191901;
}

.active.blueTheme {
  background-color: #273a64;
}

.medium {
  .paginationItem {
    font-size: 22px;
  }
}

.medium {
  .active {
    font-size: 22px;
  }
}

.large {
  .paginationItem {
    font-size: 24px;
  }
}

.large {
  .active {
    font-size: 24px;
  }
}
