.courseHeaderBlock {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid #e5e5e5;
}

.courseHeaderTitleBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    margin-top: 42px;

    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    span {
      color: #618135;
    }
  }
  h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #717070;
  }
}

.courseHeaderButtonBlock {
  ul {
    display: flex;

    list-style: none;
    li {
      a {
        cursor: pointer;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 3.125rem;
        padding: 20px 60px;

        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        color: #fff;
        text-decoration: none;
        white-space: nowrap;

        background-color: #618135;
        border: 1px solid #618135;
        border-radius: 50px;
        outline: 0 none;
        box-shadow: none;

        transition: all .2s;
        &:hover,
        &:focus {
          color: #618135;

          background-color: #fff;
          border-color: #618135;

          transition: all .2s;
          svg {
            fill: #618135;

            transition: all .2s;
          }
        }

        svg {
          min-width: 30px;
          margin-left: 10px;

          fill: #fff;
        }

        .testYourselfIcon {
          transform: rotate(90deg);
        }
      }
    }
    li:last-child {
      margin-left: 25px;
      a {
        color: #618135;

        background-color: #fff;
        border: 1px solid #618135;
        svg {
          fill: #618135;

          transition: all .2s;
        }
        &:hover,
        &:focus {
          color: #fff;

          background: #618135;

          transition: all .2s;
          svg {
            fill: #fff;

            transition: all .2s;
          }
        }
      }
    }
  }
}
