.popupWrapper {
  max-width: 700px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 30px rgba(97, 129, 53, 0.1);
  padding-bottom: 80px;

  .popupHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    background: #f7f5ec;
  }

  .popupSwitcherWrapper {
    display: flex;
    background: #fff;
    padding: 0 23px;
    margin-bottom: 10px;
  }

  &.yellowTheme {
    background: #191901;

    .popupHeader {
      background: transparent;
    }
  }

  &.whiteTheme {
    background: #000;

    .popupHeader {
      background: transparent;
    }
  }

  &.blueTheme {
    background: #fff;

    .popupHeader {
      background: transparent;
    }
  }
}
