.signWithTitle {
  margin: 30px 25px;

  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

  transition: all 0.2s ease;
}

.anotherTypeLoginBtnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 470px) {
    span {
      .anotherTypeLogin {
        font-size: 0;
      }
    }
    button {
      div {
        margin-left: 10px;
        svg {
          padding-left: 1px;
        }
      }
      span {
        font-size: 0;
      }
    }
  }
}

.orWord {
  position: relative;

  max-width: 388px;
  margin: 37px auto 48px;

  font-size: 16px;
  color: #717070;
  text-align: center;
  text-transform: capitalize;

  transition: all 0.2s ease;
  &:before,
  &:after {
    content: '';

    position: absolute;
    top: 50%;

    display: block;

    width: 40%;
    height: 1px;

    background: #eaeaea;
  }
  &:before {
    right: 0;
  }
  &:after {
    left: 0;
  }
}

.termsCheck {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;

  width: 388px;
  margin: 25px auto 35px;
  .termsLabel {
    padding-left: 7px;
  }
}
.termsError {
  position: absolute;
  top: 30px;
  left: 0;

  color: #e50707;
}
.yellowTheme {
  color: yellow;
  .anotherTypeLoginBtnWrap {
    button {
      color: yellow;

      background: #000;
      border: 0.5px solid aqua;
    }
  }
  .orWord {
    color: yellow;
    &:before,
    &:after {
      background: aqua;
    }
  }
  a {
    color: aqua;

    transition: all 0.2s ease;
  }
  .termsCheck {
    span {
      &:before {
        border: 3px solid yellow;
      }
    }
  }
}

.whiteTheme {
  color: #fff;
  .anotherTypeLoginBtnWrap {
    button {
      color: #fff;

      background: #000;
      border: 0.5px solid #fff;
    }
  }
  .orWord {
    color: #fff;
    &:before,
    &:after {
      background: #fff;
    }
  }
  a {
    color: gray;

    transition: all 0.2s ease;
  }
}

.blueTheme {
  color: #273a64;
  .anotherTypeLoginBtnWrap {
    button {
      color: #afe2ef;

      background: #273a64;
      border: 0.5px solid #fff;
    }
  }
  .orWord {
    color: #273a64;
    &:before,
    &:after {
      background: #273a64;
    }
  }
  a {
    color: black;

    transition: all 0.2s ease;
  }
  .termsCheck {
    span {
      &:before {
        border: 3px solid #273a64;
      }
    }
  }
}

.medium {
  .signWithTitle {
    font-size: 26px;

    transition: all 0.2s ease;
  }
  .formLabel {
    span {
      font-size: 18px;

      transition: all 0.2s ease;
    }
  }
  .orWord {
    font-size: 18px;

    transition: all 0.2s ease;
  }
  a {
    font-size: 18px;

    transition: all 0.2s ease;
  }
  .termsCheck {
    span {
      font-size: 18px;

      transition: all 0.2s ease;
    }
  }
  .anotherTypeLoginBtnWrap {
    button {
      font-size: 20px;

      transition: all 0.2s ease;
      @media (max-width: 470px) {
        font-size: 0;
        span {
          font-size: 0;
        }
      }
    }
  }
}

.large {
  .signWithTitle {
    font-size: 28px;

    transition: all 0.2s ease;
  }
  .formLabel {
    span {
      font-size: 20px;

      transition: all 0.2s ease;
    }
  }
  .orWord {
    font-size: 20px;

    transition: all 0.2s ease;
  }
  a {
    font-size: 20px;

    transition: all 0.2s ease;
  }
  .termsCheck {
    span {
      font-size: 20px;

      transition: all 0.2s ease;
    }
  }
  .anotherTypeLoginBtnWrap {
    button {
      font-size: 22px;

      transition: all 0.2s ease;
      @media (max-width: 470px) {
        font-size: 0;
        span {
          font-size: 0;
        }
      }
    }
  }
}

@media (max-width: 730px) {
  .loginBackground {
    padding-top: 155px;
    .loginWrapper {
      width: calc(100% - 30px);
      padding-bottom: 50px;
      .authHeader {
        svg:first-child {
          width: 55px;
        }

        svg:last-child {
          width: 85px;
        }
      }

      .authSwitcherWrapper {
        padding: 0 15px;
        .authSwitcher {
          padding: 22px 0 13px;

          font-size: 18px;
        }
      }

      .formLabel {
        width: calc(100% - 20px);
        span {
          font-size: 14px;
        }
        .textField {
          font-size: 16px;
        }
      }

      .formLabel:last-child {
        margin-bottom: 24px;
      }

      .signWithTitle {
        font-size: 18px;
      }

      .anotherTypeLoginBtnWrap {
        .anotherTypeLogin {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 63px;
          height: 58px;
          margin-bottom: 0;
          padding: 0;
          svg {
            margin: 0;
          }
          span {
            display: none;
          }
        }
        .anotherTypeLogin:first-child {
          margin-right: 7%;
        }
      }

      .signWithTitle {
        margin-bottom: 20px;
      }
      .termsCheck,
      .orWord {
        max-width: calc(100% - 20px);
        margin: 40px auto;
      }
    }
  }
}
