.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #fff;

  background-image: -webkit-image-set(
    url('../../assets/images/footerbg.png') 1x,
    url('../../assets/images/footerbgretina.png') 2x
  );
  background-image: image-set(
    url('../../assets/images/footerbg.png') 1x,
    url('../../assets/images/footerbgretina.png') 2x
  );
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  &.withoutImg {
    background: linear-gradient(115deg, #618135, #618135 75%, transparent 50%);
  }

  a {
    fill: #fff;
  }
}

address,
.mail {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.yellowTheme,
.whiteTheme,
.blueTheme {
  * {
    font-weight: bold;
  }
}

.footer.yellowTheme {
  color: yellow;

  background-image: -webkit-image-set(
    url('../../assets/images/footerbgBlack.png') 1x,
    url('../../assets/images/footerbgBlackRetina.png') 2x
  );
  background-image: image-set(
    url('../../assets/images/footerbgBlack.png') 1x,
    url('../../assets/images/footerbgBlackRetina.png') 2x
  );
  background-repeat: no-repeat;
  background-position: right;

  &.withoutImg {
    background: linear-gradient(115deg, #000000, #000000 75%, black 50%);
  }

  .footerSlogan {
    color: yellow;
  }

  .footerTitle:before {
    background-color: rgb(0, 255, 255);
  }

  .contactWrap {
    svg {
      fill: rgb(0, 255, 255);
    }

    a {
      color: yellow;

      &:hover,
      &:focus {
        color: rgb(0, 255, 255);
      }
    }
  }

  .socialLink:hover,
  .socialLink:focus {
    opacity: 1;
    background: transparent;

    fill: rgb(0, 255, 255);
  }

  .footerBottom {
    background: transparent;
  }
}

.footer.whiteTheme {
  color: #fff;

  background-image: -webkit-image-set(
    url('../../assets/images/footerbgBlack.png') 1x,
    url('../../assets/images/footerbgBlackRetina.png') 2x
  );
  background-image: image-set(
    url('../../assets/images/footerbgBlack.png') 1x,
    url('../../assets/images/footerbgBlackRetina.png') 2x
  );
  background-repeat: no-repeat;
  background-position: right;

  &.withoutImg {
    background: linear-gradient(115deg, #000000, #000000 75%, #000000 50%);
  }

  .footerSlogan {
    color: #fff;
  }

  .footerTitle:before {
    background-color: #fff;
  }

  .contactWrap {
    svg {
      fill: #fff;
    }

    a {
      color: #fff;
    }
  }

  .socialLink:hover,
  .socialLink:focus {
    opacity: 0.6;
    background: transparent;

    svg {
      fill: #fff;
    }
  }

  .footerBottom {
    background: transparent;
  }
}

.footer.blueTheme {
  color: #b8eefb;

  background-image: -webkit-image-set(
    url('../../assets/images/footerbgBlue.png') 1x,
    url('../../assets/images/footerbgBlueRetina.png') 2x
  );
  background-image: image-set(
    url('../../assets/images/footerbgBlue.png') 1x,
    url('../../assets/images/footerbgBlueRetina.png') 2x
  );
  background-repeat: no-repeat;
  background-position: right;

  &.withoutImg {
    background: linear-gradient(115deg, #273a64, #273a64 75%, #273a64 50%);
  }

  .footerSlogan {
    color: #b8eefb;
  }

  .footerTop {
    border-top: 1px solid #273a64;

    &:before {
      background: #b8eefb;
    }
  }

  .footerTitle:before {
    background-color: #273a64;
  }

  .contactWrap {
    svg {
      fill: #b8eefb;
    }

    a {
      color: #b8eefb;
    }
  }

  .socialLink {
    svg {
      fill: #b8eefb;
    }

    &:hover,
    &:focus {
      background-color: #273a64;

      svg {
        opacity: 0.6;

        fill: #b8eefb;
      }
    }
  }

  .footerBottom {
    background: transparent;
  }
}

.footerLogo:hover,
.footerLogo:focus-visible {
  opacity: 0.7;

  transition: all 0.2s ease;
}

.footerLogo:active {
  opacity: 0.5;
}

.footerLogo {
  outline: none;

  transition: all 0.2s ease;
}

.socialList {
  display: flex;

  padding: 0;

  list-style: none;
}

.footerTop {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 45px 0 30px;

  background-size: cover;
}

.footerTopWrap {
  z-index: 1;

  display: flex;
}

.socialItem:not(:last-child) {
  margin-right: 15px;
}

.socialItem {
  display: flex;
  align-items: center;

  width: 45px;
  height: 45px;
}

.footerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 30px;
}

.footerNavLink {
  position: relative;

  color: #fff;
  text-decoration: none;

  transition: all 0.2s linear;
}

.footerNavLink:not(:last-child) {
  padding-right: 40px;
}

.footerNavLink:not(:first-child):before {
  content: '';

  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);

  display: block;

  width: 5px;
  height: 3px;

  background-color: #618135;
}

.footerNavLink:hover,
.footerNavLink:focus {
  color: #618135;

  transition: all 0.2s linear;
}

.footerSlogan {
  margin-top: 35px;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.topWrapColumn {
  width: fit-content;
  max-width: 31%;
  margin-right: 70px;

  line-height: 24px;

  &:not(:first-child) {
    padding-top: 39px;
  }
}
.footerTitle {
  position: relative;

  margin: 0 0 40px;
  padding-bottom: 15px;

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.footerTitle:before {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  width: 35px;
  height: 3px;

  background-color: #fff;
}

.logoWrap {
  display: flex;
  align-items: center;

  .logoText {
    padding-left: 10px;
  }
}

.footerForm {
  position: relative;

  display: flex;

  margin-top: 40px;

  border: none;
}

.footerForm span {
  position: relative;

  width: 100%;
}

.footerForm input {
  width: 100%;

  color: #fff;
}

.subscribeSend {
  cursor: pointer;

  position: absolute;
  right: 0;

  display: block;

  width: 50px;
  height: 100%;

  font-size: 0;

  background: transparent;
  border: none;
}

.subscribeSend:hover,
.subscribeSend:focus {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: all 0.2s linear;
}

.socialLink:hover,
.socialLink:focus {
  opacity: 0.6;
  background-color: #618135;

  transition: all 0.2s linear;
}

.contactWrap {
  display: flex;
  align-items: center;
}

.contactWrap a {
  color: #fff;
  text-decoration: none;

  transition: all 0.2s linear;
}

.contactWrap a:hover,
.contactWrap a:focus {
  opacity: 0.6;

  transition: all 0.2s linear;
}

.icon {
  min-width: 24px;
  margin-right: 15px;

  fill: #fff;
}

.medium {
  .footerSlogan,
  address,
  a {
    font-size: 20px;
  }

  .footerTitle {
    font-size: 24px;
  }
}

.large {
  .footerSlogan,
  address,
  a {
    font-size: 22px;
  }

  .footerTitle {
    font-size: 26px;
  }
}

@media (max-width: 1000px) {
  .footer {
    background-image: -webkit-image-set(
      url('../../assets/images/greenBg.png') 1x,
      url('../../assets/images/greenBgRetina.png') 2x
    );
    background-image: image-set(
      url('../../assets/images/greenBg.png') 1x,
      url('../../assets/images/greenBgRetina.png') 2x
    );
    background-position: 100% 80%;
    background-size: cover;

    &.withoutImg {
      background: linear-gradient(115deg, #618135, #618135 75%, transparent 50%);
    }

    a {
      fill: #fff;
    }
    .footerTopWrap {
      flex-direction: column;
    }

    .footerSlogan {
      margin: 14px 0 25px;
    }

    .topWrapColumn {
      max-width: 100%;
      width: 100%;
      min-height: auto;
      padding: 0;
    }

    .footerTop {
      background-repeat: no-repeat;
      background-size: cover;
    }

    .footerTitle {
      margin: 0;
      &:before {
        display: none;
      }
    }
    .mobileTitle {
      display: none;
    }
    .socialList {
      margin-top: 5px;
    }
    .footerBottom {
      margin-top: 30vh;
    }
  }
}
