.reviewBody {
  width: 70%;
  margin: 0 auto;

  & > p:first-child {
    margin-top: 0;
  }

  .reviewTitle {
    margin: 0 0 25px;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    text-transform: capitalize;
    color: #618135;
  }

  .reviewDescWrap {
    display: flex;
    background: #f7f5ec;
    margin-bottom: 35px;

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px;
      font-size: 22px;
      line-height: 28px;

      span {
        color: #618135;
      }
    }
  }

  .reviewForm {
    .reviewCAT {
      display: flex;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      color: #717070;
      margin-bottom: 15px;
      transition: all .2s ease;
    }

    .assesmentRadioList {
      position: relative;
      display: flex;
      margin: 15px 0 35px;

      li {
        margin-right: 50px;

        label {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 10px;
          cursor: pointer;
          transition: all .2s ease;
        }

        &.activeGreen {
          transition: 0.5s;

          svg {
            opacity: 1;

            path {
              fill: green;
              transition: 0.5s;
            }
          }
        }

        &.activeLightOrange {
          transition: 0.5s;

          svg {
            opacity: 1;

            path {
              fill: #738000;
              transition: 0.5s;
            }
          }
        }

        &.activeOrange {
          transition: 0.5s;

          svg {
            opacity: 1;

            path {
              fill: orange;
              transition: 0.5s;
            }
          }
        }

        &.activeDarkOrange {
          transition: 0.5s;

          svg {
            opacity: 1;

            path {
              fill: #e16527;
              transition: 0.5s;
            }
          }
        }

        &.activeRed {
          transition: 0.5s;

          svg {
            opacity: 1;

            path {
              fill: red;
              transition: 0.5s;
            }
          }
        }

        svg {
          transition: all .2s ease;
          opacity: 0.7;
        }

        &:hover svg {
          opacity: 1;
          transform: scale(1.1);
          transition: all .2s ease;
        }
      }
    }

    .textareaWrap {
      position: relative;
      display: flex;
      flex-direction: column;

      label {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #717070;
      }

      textarea {
        padding: 15px;
        margin-top: 10px;
        min-height: 210px;
        resize: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
      }
    }

    .buttonWrapper {
      display: flex;
      align-items: flex-start;
      margin-top: 30px;

      .reviewAttached {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
        margin: 0;

        span {
          font-size: 16px;
          line-height: 20px;
          margin-left: 10px;
        }

        small {
          text-align: center;
          font-size: 10px;
          font-weight: 400;
          width: 100%;
        }
      }

      .reviewsFile {
        display: flex;
        position: relative;
        height: max-content;
        width: 208.53px;
        border-radius: 15px;
        overflow: hidden;

        .reviewsFileDelete {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          border: none;
          background: rgb(0 0 0 / 70%);
          cursor: pointer;
          opacity: 0;
          transition: 0.5s;

          &:hover {
            transition: 0.5s;
            opacity: 1;
          }
        }

        img {
          border-radius: 10px;
          height: max-content;
        }
      }

      .sendFeedback {
        margin: 0 0 0 20px;
      }
    }
  }

  .reviewList {
    list-style: none;
    margin-top: 30px;
  }
}

.reviewBody.yellowTheme {
  h3,
  .reviewCAT {
    color: yellow;
  }

  .reviewForm {
    .assesmentRadioList {
      .activeGreen,
      .activeLightOrange,
      .activeOrange,
      .activeDarkOrange,
      .activeRed {
        color: aqua;
        svg {
          path {
            fill: aqua;
          }
        }
      }
    }
  }

  .reviewDescWrap {
    background: #191901;

    .share {
      color: #00ffff;
    }
  }

  .assesmentRadioList {
    li {
      &.active {
        svg {
          opacity: 1;

          path {
            fill: #00ffff;
          }
        }
      }

      svg {
        transition: all .2s ease;
        opacity: 0.5;

        path {
          fill: yellow;
        }
      }

      &:hover svg {
        opacity: 1;
        transform: scale(1.1);
        transition: all .2s ease;
      }
    }
  }

  textarea {
    background: #191901;
  }
}

.reviewBody.whiteTheme {
  p span.share,
  .reviewTitle,
  .reviewCAT {
    color: #000;
  }

  .reviewForm {
    .assesmentRadioList {
      .activeGreen,
      .activeLightOrange,
      .activeOrange,
      .activeDarkOrange,
      .activeRed {
        color: #000;
        svg {
          path {
            fill: #000;
          }
        }
      }
    }
  }

  .reviewDescWrap {
    background: #f5f5f5;
  }
}

.reviewBody.blueTheme {
  p span.share,
  .reviewTitle,
  .reviewCAT {
    color: #273a64;
  }

  .sendFeedback {
    &:hover {
      background: #fff;
    }
  }

  .reviewDescWrap {
    background: #aee2ef;
    border: 1px solid #273a64;
  }

  .reviewForm {
    .assesmentRadioList {
      .activeGreen,
      .activeLightOrange,
      .activeOrange,
      .activeDarkOrange,
      .activeRed {
        color: #273a64;
        svg {
          path {
            fill: #273a64;
          }
        }
      }
    }
  }
}

.small {
  .link {
    font-size: 24px;
  }
}

.medium {
  .reviewList,
  .reviewForm span.reviewCAT {
    font-size: 20px;
    transition: all .2s ease;
  }

  .link {
    font-size: 28px;
  }

  .reviewTotalCount {
    font-size: 20px;
  }

  .reviewDescWrap {
    p {
      font-size: 24px;
    }
  }

  .reviewTitle {
    font-size: 32px;
  }

  label {
    font-size: 16px;
    transition: all .2s ease;
  }
}

.large {
  .reviewTotalCount {
    font-size: 22px;
  }
  .reviewList,
  .reviewForm span.reviewCAT {
    font-size: 22px;
    transition: all .2s ease;
  }

  .link {
    font-size: 32px;
  }

  .reviewDescWrap {
    p {
      font-size: 27px;
    }
  }

  .reviewTitle {
    font-size: 37px;
  }

  label {
    font-size: 18px;
    transition: all .2s ease;
  }
}

@media (max-width: 1280px) {
  .reviewBody {
    width: 91%;
  }
  .reviewDescWrap {
    flex-direction: column;
  }
  .reviewBody {
    margin-top: 20px;
  }
}
