.inputWrap {
  position: relative;

  display: flex;
  justify-content: center;
  .changeType {
    cursor: pointer;

    position: absolute;
    top: 32%;
    right: 12px;

    display: flex;

    width: 24px;
    height: 20px;
    padding: 0;

    background: transparent;
    border: none;
    &.hidePassword {
      top: 26%;
    }
  }
}
