.burger-btn {
  display: none;
}

@media (max-width: 768px) {
  .burger-btn {
    position: relative;
    top: -5px;
    right: 0;

    display: block;

    width: 60px;
    height: 60px;
    padding: 0;

    background: 0 0;
    border: 0;
  }

  .ham6 .top {
    stroke-dasharray: 40 172;
  }

  .line {
    fill: none;
    stroke: #3b8b87;
    stroke-linecap: round;
    stroke-width: 5.5;

    -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  }

  .ham6 .middle {
    stroke-dasharray: 40 111;
  }

  .ham6 .bottom {
    stroke-dasharray: 40 172;
  }

  .ham6.active .top {
    stroke-dashoffset: -132px;
  }

  .ham6.active .middle {
    stroke-dashoffset: -71px;
  }

  .ham6.active .bottom {
    stroke-dashoffset: -132px;
  }
}
