.newsWrap {
  position: relative;

  margin: 0;

  background: url('../../../../assets/images/features-top.png') bottom;
  background-size: cover;
}

.yellowTheme {
  color: yellow;

  background: #000;

  .featureTitle,
  .featureMainTitle {
    color: yellow;

    strong {
      color: yellow;
    }
  }

  .newsItem {
    background: #191901;
  }

  .btnBlock {
    background: #000;
  }

  .newsItem:hover,
  .newsItem:focus {
    background: #000;

    .btnBlock {
      background: rgb(0, 255, 255);
    }
  }

  .btnBlock:before {
    background: url('../../../../assets/images/love-hand-drawn-heart-symbol-outline.svg') no-repeat
        center,
      rgb(0, 255, 255);
    background-size: 50%;
  }
  .newsPhoto {
    border: 1px dashed yellow;
  }
}

.whiteTheme {
  color: #000;

  background: #fff;

  .featureTitle,
  .featureMainTitle {
    color: #000;

    strong {
      color: #000;
    }
  }

  .newsDescBlock {
    color: #fff;

    background: #000;
  }

  .btnBlock {
    background: #fff;
    border: 1px solid #000;
  }

  .newsItem {
    background: #000;
  }

  .newsPhoto {
    border: 1px dashed #fff;
  }

  .newsItem:hover,
  .newsItem:focus {
    .newsDescBlock {
      background: #000;
    }

    .btnBlock {
      background: #000;
    }
  }

  .btnBlock:before {
    background: url('../../../../assets/images/love-hand-drawn-heart-symbol-outline.svg') no-repeat
        center,
      #000;
    background-size: 50%;
  }
}

.blueTheme {
  color: #273a64;

  background: #b8eefb;

  .featureTitle,
  .featureMainTitle {
    color: #273a64;

    strong {
      color: #273a64;
    }
  }

  .newsItem {
    background: #273a64;
  }

  .newsPhoto {
    border: 1px dashed #b8eefb;
  }

  .newsDescBlock {
    color: #b8eefb;

    background: #273a64;
  }

  .btnBlock {
    background: #b8eefb;
    border: 1px solid #273a64;
  }

  .newsItem:hover {
    .newsDescBlock {
      background: #273a64;
    }

    .btnBlock {
      background: #273a64;
    }
  }

  .btnBlock:before {
    background: url('../../../../assets/images/love-hand-drawn-heart-symbol-outline.svg') no-repeat
        center,
      #273a64;
    background-size: 50%;
  }
}

.yellowTheme,
.whiteTheme,
.blueTheme {
  * {
    font-weight: bold;
  }
}

ul.newsList {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding-top: 100px;
  padding-bottom: 75px;
}

.newsItem {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 30%;

  background: #fff;
  border-radius: 26px;
  box-shadow: 0 0 25px rgba(97, 129, 53, 0.1);

  transition: all .2s ease-in-out;
}

.newsItemTitle {
  margin: 0 0 5px;

  font-size: 24px;
  font-weight: 600;
}

.newsPhotoWrap {
  overflow: hidden;

  height: auto;
  padding: 25px;
}

.newsPhoto {
  display: block;

  width: 100%;
  padding: 5px;

  border: 1px dashed #618135;
  border-radius: 26px;
}

.newsDescBlock {
  flex-grow: 1;

  padding: 25px 30px;

  transition: all .2s linear;
}

.newsDescription {
  margin-top: 15px;

  font-size: 18px;
  font-weight: 400;

  transition: all .2s linear;
}

.btnBlock {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 60px;
  padding: 5px 20px;

  background-color: #618135;
}

.itemBtn {
  transform: scale(1.5);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;

  font-size: 16px;
  line-height: 30px;
  text-align: center;

  opacity: 0;
  background: #f7f5ec;
  border: none;

  fill: #31477c;

  transition: all .2s linear;
}

.newsItem:hover .itemBtn {
  transform: scale(1);

  opacity: 1;
  border-radius: 50%;

  transition: all .2s linear;
}

.newsItem:hover .btnBlock {
  background-color: #618135;

  transition: all .2s linear;
}

.btnBlock:before {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 50px;
  height: 50px;
  margin: auto;

  background: url('../../../../assets/images/love-hand-drawn-heart-symbol-outline.svg') no-repeat
      center,
    #618135;
  background-size: 50%;
  border-radius: 50%;

  transition: all .2s linear;
}

.newsItem:hover .btnBlock:before {
  width: 100%;

  opacity: 0;
  border-radius: 0;

  transition: all .2s linear;
}

.featureTitle {
  cursor: pointer;

  display: block;

  margin: 50px auto 25px;

  font-size: 14px;
  font-weight: 400;
  color: #fd6ca3;
  text-align: center;
  letter-spacing: 3px;

  transition: .2s all ease;
}

.featureTitle:hover {
  color: #3a7b76;

  transition: .2s all ease;
}

.featureMainTitle {
  margin: 160px 0 15px;

  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  color: #000;
  text-align: center;
  letter-spacing: normal;
}

.featureMainTitle strong {
  color: #618135;
}

.featureDesc {
  width: 90%;
  margin: auto;

  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

@media (max-width: 1000px) {
  .featureMainTitle {
    font-size: 45px;
    line-height: 50px;
  }
  .newsItem .btnBlock {
    background-color: #618135;

    transition: all .2s linear;
  }
  .newsItem .btnBlock:before {
    width: 100%;

    opacity: 0;
    border-radius: 0;

    transition: all .2s linear;
  }
  .newsItem .itemBtn {
    transform: scale(1);

    opacity: 1;
    border-radius: 50%;

    transition: all .2s linear;
  }
}

@media (max-width: 768px) {
  ul.newsList {
    flex-direction: column;

    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .newsItem {
    width: 100%;
  }
  .newsItem:not(:last-child) {
    margin-bottom: 35px;
  }
  .featureMainTitle {
    margin-top: 50px;
    margin-bottom: 40px;

    font-size: 30px;
    line-height: 38px;
  }
  .featureDesc {
    width: 100%;

    font-size: 18px;
    font-weight: 400;
  }
  .featureItem {
    width: 100%;
  }
  .featureWrap {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 425px) {
  .featureWrap {
    padding-top: 0;
  }
  .featureList {
    margin: 40px 0;
  }
}

.medium {
  .featureTitle,
  .newsDescription {
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    @media (max-width: 425px) {
      font-size: 12px;
    }
  }
  .featureMainTitle {
    font-size: 44px;
    line-height: 45px;

    transition: all .2s ease;

    @media (max-width: 768px) {
      font-size: 55px;
      line-height: 55px;
    }

    @media (max-width: 425px) {
      font-size: 35px;
      line-height: 35px;
    }
  }
  .featureDesc {
    font-size: 20px;

    transition: all .2s ease;

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 425px) {
      font-size: 16px;
    }
  }
  .newsItemTitle {
    font-size: 26px;

    @media (max-width: 768px) {
      font-size: 20px;
    }

    @media (max-width: 425px) {
      font-size: 18px;
    }
  }
}

.large {
  .featureTitle,
  .newsDescription {
    font-size: 22px;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
  .featureMainTitle {
    font-size: 48px;
    line-height: 58px;

    transition: all .2s ease;

    @media (max-width: 768px) {
      font-size: 50px;
      line-height: 50px;
    }

    @media (max-width: 425px) {
      font-size: 40px;
      line-height: 40px;
    }
  }
  .featureDesc {
    font-size: 22px;

    transition: all .2s ease;
  }
  .newsItemTitle {
    font-size: 28px;
  }
}
