.newsWrap {
  position: relative;
  margin:0;
  background-size: cover;
  background: url('../../../../assets/images/features-top.png') bottom;
}

.yellowTheme {
  background: #000;
  color: yellow;

  .featureTitle,
  .featureMainTitle {
    color: yellow;

    strong {
      color: yellow;
    }
  }

  .newsItem {
    background: #191901;
  }

  .btnBlock {
    background: #000;
  }

  .newsItem:hover,
  .newsItem:focus {
    background: #000;

    .btnBlock {
      background: rgb(0, 255, 255);
    }
  }

  .btnBlock:before {
    background: url('../../../../assets/images/love-hand-drawn-heart-symbol-outline.svg') no-repeat center, rgb(0, 255, 255);
    background-size: 50%;
  }
  .newsPhoto {
    border: 1px dashed yellow;
  }
}

.whiteTheme {
  background: #fff;
  color: #000;

  .featureTitle,
  .featureMainTitle {
    color: #000;

    strong {
      color: #000;
    }
  }

  .newsDescBlock {
    background: #000;
    color: #fff;
  }

  .btnBlock {
    background: #fff;
    border: 1px solid #000;
  }

  .newsItem {
    background: #000;
  }

  .newsPhoto {
    border: 1px dashed #fff;
  }

  .newsItem:hover,
  .newsItem:focus {
    .newsDescBlock {
      background: #000;
    }

    .btnBlock {
      background: #000;
    }
  }

  .btnBlock:before {
    background: url('../../../../assets/images/love-hand-drawn-heart-symbol-outline.svg') no-repeat center, #000;
    background-size: 50%;
  }
}

.blueTheme {
  background: #b8eefb;
  color: #273a64;

  .featureTitle,
  .featureMainTitle {
    color: #273a64;

    strong {
      color: #273a64;
    }
  }

  .newsItem {
    background: #273a64;
  }

  .newsPhoto {
    border: 1px dashed #b8eefb;
  }

  .newsDescBlock {
    background: #273a64;
    color: #b8eefb;
  }

  .btnBlock {
    background: #b8eefb;
    border: 1px solid #273a64;
  }

  .newsItem:hover {
    .newsDescBlock {
      background: #273a64;
    }

    .btnBlock {
      background: #273a64;
    }
  }

  .btnBlock:before {
    background: url('../../../../assets/images/love-hand-drawn-heart-symbol-outline.svg') no-repeat center, #273a64;
    background-size: 50%;
  }
}

.yellowTheme,
.whiteTheme,
.blueTheme {
  * {
    font-weight: bold;
  }
}

ul.newsList {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 75px;
  margin: 0;
}

.newsItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  border-radius: 26px;
  background: #fff;
  box-shadow: 0 0 25px rgba(97, 129, 53, 0.1);
  position: relative;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.newsItemTitle {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 24px;
}

.newsPhotoWrap {
  height: auto;
  overflow: hidden;
  padding: 25px;
}

.newsPhoto {
  width: 100%;
  display: block;
  border: 1px dashed #618135;
  padding: 5px;
  border-radius: 26px;
}

.newsDescBlock {
  flex-grow: 1;
  padding: 25px 30px;
  transition: all .2s linear;
}

.newsDescription {
  font-weight: 400;
  font-size: 18px;
  margin-top: 15px;
  transition: all .2s linear;
}

.btnBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px 20px;
  min-height: 60px;
  background-color: #618135;
}

.itemBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 16px;
  height: 40px;
  line-height: 30px;
  margin: 0 10px 0 0;
  text-align: center;
  width: 40px;
  opacity: 0;
  background: #f7f5ec;
  transform: scale(1.5);
  transition: all .2s linear;
  fill: #31477c;
}

.newsItem:hover .itemBtn {
  opacity: 1;
  transform: scale(1);
  border-radius: 50%;
  transition: all .2s linear;
}

.newsItem:hover .btnBlock {
  background-color: #618135;
  transition: all .2s linear;
}

.btnBlock:before {
  content: '';
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  background: url('../../../../assets/images/love-hand-drawn-heart-symbol-outline.svg') no-repeat center, #618135;
  background-size: 50%;
  transition: all .2s linear;
}

.newsItem:hover .btnBlock:before {
  border-radius: 0;
  width: 100%;
  opacity: 0;
  transition: all .2s linear;
}

.featureTitle {
  display: block;
  font-weight: 400;
  letter-spacing: 3px;
  color: #fd6ca3;
  font-size: 14px;
  text-align: center;
  margin: 50px auto 25px;
  cursor: pointer;
  transition: .2s all ease;
}

.featureTitle:hover {
  color: #3a7b76;
  transition: .2s all ease;
}

.featureMainTitle {
  color: #000;
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  margin: 160px 0 15px;
  letter-spacing: normal;
  text-align: center;
}

.featureMainTitle strong {
  color: #618135;
}

.featureDesc {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  line-height: 28px
}


@media (max-width: 1000px) {
  .featureMainTitle {
    font-size: 45px;
    line-height: 50px;
  }
  .newsItem .btnBlock {
    background-color: #618135;
    transition: all .2s linear;
  }
  .newsItem .btnBlock:before {
    border-radius: 0;
    width: 100%;
    opacity: 0;
    transition: all .2s linear;
  }
  .newsItem .itemBtn {
    opacity: 1;
    transform: scale(1);
    border-radius: 50%;
    transition: all .2s linear;
  }
}

@media (max-width: 768px) {
  .newsList {
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
  }
  .newsItem {
    width: 100%;
  }
  .newsItem:not(:last-child) {
    margin-bottom: 35px;
  }
  .featureMainTitle {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  .featureDesc {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
  }
  .featureItem {
    width: 100%;
  }
  .featureWrap {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 425px) {
  .featureWrap {
    padding-top: 0;
  }
  .featureList {
    margin: 40px 0;
  }
}

.medium {
  .featureTitle,
  .newsDescription {
    font-size: 20px;
    @media (max-width: 768px) {
      font-size: 14px;
    }
    @media (max-width: 425px) {
      font-size: 12px;
    }
  }
  .featureMainTitle {
    font-size: 44px;
    line-height: 45px;
    transition: all .2s ease;
    @media (max-width: 768px) {
      font-size: 55px;
      line-height: 55px;
    }
    @media (max-width: 425px) {
      font-size: 35px;
      line-height: 35px;
    }
  }
  .featureDesc {
    font-size: 20px;
    transition: all .2s ease;
    @media (max-width: 768px) {
      font-size: 18px;
    }
    @media (max-width: 425px) {
      font-size: 16px;
    }
  }
  .newsItemTitle {
    font-size: 26px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 425px) {
      font-size: 18px;
    }
  }
}

.large {
  .featureTitle,
  .newsDescription {
    font-size: 22px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
  .featureMainTitle {
    font-size: 48px;
    line-height: 58px;
    transition: all .2s ease;
    @media (max-width: 768px) {
      font-size: 50px;
      line-height: 50px;
    }
    @media (max-width: 425px) {
      font-size: 40px;
      line-height: 40px;
    }
  }
  .featureDesc {
    font-size: 22px;
    transition: all .2s ease;
  }
  .newsItemTitle {
    font-size: 28px;
  }
}