.resetPasswordPage {
  position: relative;
  height: 90.5vh;
  transition: all 0.3s ease;
  @media (max-height: 753px) {
    height: 110vh;
  }
  @media (max-height: 680px) {
    height: 120vh;
  }

  .resetPasswordPage__wrapper {
    transition: all 0.3s ease;
    padding: 0 40px;
    max-width: 600px;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    @media (max-width: 620px) {
      transition: all 0.3s ease;
      width: 90%;
      padding: 0 10px;
    }
  }

  .contentContainer {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .text {
      font-weight: 600;
      font-size: 26px;
      line-height: 33px;
      margin: 11px 0 36px 0;
      text-align: center;
      align-items: center;
      color: #717070;
    }
  }

  &.yellowTheme {
    background-color: #191901ff;
  }

  &.blueTheme {
    background-color: #aee2efff;
  }

  &.whiteTheme {
    background-color: #000000ff;
  }
}
